<!-- Add Review Box -->
			<div id="add-review" class="add-review-box">

				<!-- Add Review -->
				<h3 class="listing-desc-headline margin-bottom-20">Add Review</h3>
				
				<span class="leave-rating-title">Your rating for this listing</span>
				
				<!-- Rating / Upload Button -->
				<div class="row">
					<div class="col-md-6">
						<!-- Leave Rating -->
						<div class="clearfix"></div>
						<div class="leave-rating margin-bottom-30">
							<input type="radio" name="rating" id="rating-1" value="1"/>
							<label for="rating-1" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-2" value="2"/>
							<label for="rating-2" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-3" value="3"/>
							<label for="rating-3" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-4" value="4"/>
							<label for="rating-4" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-5" value="5"/>
							<label for="rating-5" class="fa fa-star"></label>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-6">
						<!-- Uplaod Photos -->
						<!--<div class="add-review-photos margin-bottom-30">
							<div class="photoUpload">
							    <span><i class="sl sl-icon-arrow-up-circle"></i> Upload Photos</span>
							    <input type="file" class="upload" />
							</div>
						</div>-->
					</div>
				</div>
	
				<!-- Review Comment -->
				<form id="add-comment" method="POST" class="add-comment">
					  <input type="hidden" name="action" value="review">
            <input type="hidden" name="author" value="57349555510ff303009739f3">
            <input type="hidden" name="tour" placeholder="TourID" class="form-control" value="{{data.tour.tourId}}">
					<fieldset>

						<div class="row">
							<div class="col-md-6">
								<label>Name:</label>
								<input type="text" name="name" value=""/>
							</div>
								
							<div class="col-md-6">
								<label>Email:</label>
								<input type="text" name="email" value=""/>
							</div>
						</div>

						<div>
							<label>Review:</label>
							<textarea name="message" cols="40" rows="3"></textarea>
						</div>

					</fieldset>

					<input type="submit" class="button"></input>
					<div class="clearfix"></div>
				</form>

			</div>
			<!-- Add Review Box / End -->