<!-- Slider
================================================== -->

<div class="listing-slider mfp-gallery-container margin-bottom-0">
 	{{#each data.tour.images}}
	<a href="https://res.cloudinary.com/triptable/image/upload/w_900,q_auto,f_auto/{{public_id}}.{{format}}" data-background-image="https://res.cloudinary.com/triptable/image/upload/w_700,q_80,f_auto/{{public_id}}.{{format}}" class="item mfp-gallery"></a>

	{{/each}}
</div>
