<!-- Slider
================================================== -->

<div class="listing-slider mfp-gallery-container margin-bottom-0">
 	{{#each data.tour.images}}
	<a href="{{cloudinaryUrl width=1440}}" data-background-image="{{cloudinaryUrl width=600}}" class="item mfp-gallery"></a>
	{{/each}}
</div>