<!-- Slider
================================================== -->

<div class="listing-slider mfp-gallery-container margin-bottom-0">
 	{{#each data.tour.images}}
	<a href="{{cloudinaryUrl width=1080 secure=true}}" data-background-image="{{cloudinaryUrl width=600 secure=true}}" class="item mfp-gallery"></a>
	{{/each}}
</div>