@charset "UTF-8";
/* CSS Document */
.btn-primary {
  background-color: #3498db;
      border-color: #3498db;
}
.price_list p{
  font-size:14px;
  margin:5px;
  font-weight: 500;
}
.rating .voted {
  color: #FF9800;
}
.rating i{
  color: gainsboro;
}
header {
  background: white;
  padding-bottom: 0px;
}
h2.tour-title{
      margin-top: 5px;
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 0px;
      text-align: left; 
  }
.collection-img-container{
  height: 150px;
  border-radius: 10px;
} 
@media only screen and (max-width: 767px){
  h1.search-title{
    font-size: 26px;
  }
.collection-img-container{
  height: 130px;
  border-radius: 10px;
} 
.collection-container{
  padding-right:0;
  padding-left:0;
}
.ribbon_3.collection {
  left: -5px;
}
.item-mobile-list 
  #item-mobile-container {
      padding-left: 15px;
      padding-right: 0px;
  }

.item-mobile-list 
  .img_list {
      height: 110px;
      min-height: 110px;
  }

  .item-mobile-list 
    .img_list img {
      height: 120px;
      width: auto;
      top: 0;
  }
  .item-mobile-list
  h2 {
      margin-top: 5px;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 0px;
      text-align: left; 
  }
.item-mobile-list
  h3 {
      margin-top: 5px;
      font-size: 13px;
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 0px;
      text-align: left; 
  }

  .item-mobile-list
    .rating {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: left;
  }

  .item-mobile-list
    p {
      margin: 0;
      text-align: left;
      color: gray;
    }

  .item-mobile-list 
    p.price{
        font-size: 15px;
        font-weight: 600;
        color: #454545;
        margin: 0;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 5px;
  }
  .item-mobile-list 
    p.price.deal{
        font-size: 15px;
        font-weight: 600;
        color: crimson;
        margin: 0;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 5px;
  }
  .item-mobile-list
  p.price-discount {
    font-size: 16px;
    font-weight: 600;
    color: #454545;
    margin: 0;
    text-align: right;
    padding-right: 10px;
    text-decoration: line-through;
  }
  .item-mobile-list.strip_all_tour_list {
    margin-bottom: 20px;
  }

  header #colored.sticky {

  }
  
  .parallax-window {
    height: 100px;
    min-height: 100px;
  }
  
  .parallax-content-1 {
    height: 90px;
  }

  #tour-header{
    background-color: gainsboro;
  }

  .mobile-filter-icon {
    top: 20%;
    position: absolute;
    right: 15px;
  }

  #filters_col_bt.collapse {

  }
  a#filters_col_bt {
    display: none;
  }

  #filters_col {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
   
  }
  form#filters_form{
    margin-bottom: 15px;
  }

  .filter_text_mobile {
    right: 50px;
    top: 20%;
    font-size: 16px;
    position: absolute;
    font-weight: 500;
  }
  i.mobile-filter-icon {
    color: #454950;
  }
  a.collapsed i.mobile-filter-icon {
    color: #454950;
  }

  .buttons .reset-btn {
    font-size: 14px;
    text-decoration: underline;
    color: gray;
    top: 10%;
    right: 25px;
    position: absolute;
  }
}


/*END MOBILE ONLY STYLES */
 #top_line.visible_on_mobile {
    margin-bottom: 0;
    color: #454950;
    border-bottom: 1px solid rgba(1,1,1,0.2)
  }

  ul#top_links a{
    color: #454950;
  }
  ul#top_tools a{
    color: #454950;
  }
  .cmn-toggle-switch span{
      background: #454950;
  }
  .cmn-toggle-switch__htx span::before{
    background: #454950;
  }
  .cmn-toggle-switch__htx span::after{
    background: #454950;
  }


  #position {
    margin-top:90px;
    background: #3498db;
  }
  .main-menu > ul > li > a {
    color:#454950;
  }
  .ribbon_3.popular.most-sell span {
  /* background:linear-gradient(#663399 0%, #49236f 100%);*/
  /* background: linear-gradient(#FF9800 0%, #FF9800 100%);*/
   
  }
 .ribbon_3.popular.most-sell span::before {
    border-left: 3px solid #FF9800;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #FF9800;
}
.ribbon_3.popular.most-sell span::after {
    border-left: 3px solid transparent;
    border-right: 3px solid #FF9800;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #FF9800;
}

  .ribbon_3.popular span {
    background:linear-gradient(#ff5722 0%, #ff5722 100%);
   /*background: linear-gradient(#FF9800 0%, #FF9800 100%);*/
  }
 .ribbon_3.popular span::before {
    border-left: 3px solid #ff5722;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff5722;
}
.ribbon_3.popular span::after {
    border-left: 3px solid transparent;
    border-right: 3px solid #ff5722;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff5722;
}
.price_list div {
  color: #454950;
}
a.cart_bt strong {
  background-color: crimson;
}
a.btn_1, .btn_1 {
  background: #4ECBA7;
}
a.btn_1:hover, .btn_1:hover {
    background: #49236f;
}

ul#cat_nav li a#active, ul#cat_nav li a.active {
    background: #f9f9f9;
    color: #49236f;
}
.irs-line-mid {
    background: gainsboro repeat-x;
}
.irs-line-left {
  background: gainsboro;
  
}
.irs-line-right{
    background: gainsboro;
}
.irs-bar {
  background:  #4ECBA7;
}

.irs-from, .irs-single, .irs-to {
  background: crimson;
}
.box_style_2 a.phone, .box_style_4 a.phone {
  font-size: 22px;
}
i.mobile-filter-icon {
  font-size: 24px;
  font-weight: 600;
}
.mobile-filter p{
  margin: 0;
}
.modal.show .modal-dialog{
  z-index: 1000;
}
.modal-backdrop.fade.show{
  display: none;
}
.buttons input, .buttons a {
  width: 100%;
}
.btn.btn-danger {
}

p.search-subtitle{
  font-size: 18px;
  font-weight: 500;
}
.glide__bullet {
  background: gainsboro;
}
.glide__bullet.glide__bullet--active{
  background: #3498db;
}
.main-menu > ul > li:hover > a {
  color: #3498db;
}
#position ul li {
  color: white;
}
#apply-btn { 
    background: #4ECBA7;
    background-color: #4ECBA7;
    border-color: #4ECBA7;
}
#reset-filter{ 
    background-color: gainsboro;
    border-color: gainsboro;
    color: gray;
}
.collection-img-container img{
  min-height: 150px;
}
.rating small {
  font-weight: 400;
  color: gray;
}

.img_list img {
    left: 0;
}