<body class="product-template-default single single-product postid-976 wp-custom-logo woocommerce woocommerce-page listable" data-mapbox-token="pk.eyJ1IjoiZ2Vvcmdlb2xhcnUiLCJhIjoiY2lneTNtZ2VtMDBlNmtya3IzdHY0ZTl2biJ9.ZQPEMiJW_XQjJHUFRlioug" data-mapbox-style="mapbox.streets-basic">
    <div id="page" class="hfeed site"> <a class="skip-link screen-reader-text" href="#content">Skip to content</a> {{>v2/header}}
        <div id="content" class="site-content js-header-height-padding-top">
            <main id="main" class="site-main" role="main">
                <article itemscope="" itemtype="http://schema.org/Product" id="product-976" class="post-976 product type-product status-publish has-post-thumbnail product_cat-cinema product_tag-75-off not-claimed first instock sale virtual shipping-taxable purchasable product-type-simple">
                    <header class="entry-header">
                        <div class="entry-featured"></div>
                        <div class="header-content">
                            <div class="entry-meta">
                                <nav class="woocommerce-breadcrumb" itemprop="breadcrumb"><span><a href="https://pixelgrade.com/demos/listable">Home</a></span><span>→</span><span><a href="https://pixelgrade.com/demos/listable/product-category/cinema/">Cinema</a></span><span>→</span><span>Up to 59% Off a Haircut and Highlights Package</span></nav>
                            </div>
                            <h1 class="entry-title">Up to 59% Off a Haircut and Highlights Package</h1> <span class="entry-subtitle"><p class="p1">Masquerade Salon</p></span></div>
                    </header>
                    <div class="product-wrapper">
                        <div class="product-content"> <span class="onsale">Sale!</span>
                            <div class="images">
                                <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg" itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto"><img width="800" height="537" src="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?fit=800%2C537&amp;ssl=1" class="attachment-shop_single size-shop_single wp-post-image" alt="shop-salon-1" title="shop-salon-1" srcset="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?w=1084&amp;ssl=1 1084w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?resize=600%2C402&amp;ssl=1 600w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?resize=800%2C537&amp;ssl=1 800w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?resize=450%2C302&amp;ssl=1 450w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?resize=895%2C600&amp;ssl=1 895w" sizes="(max-width: 800px) 100vw, 800px" data-attachment-id="977" data-permalink="https://pixelgrade.com/demos/listable/product/up-to-59-off-a-haircut-and-highlights-package/attachment/shop-salon-1/" data-orig-file="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?fit=1084%2C727&amp;ssl=1" data-orig-size="1084,727" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="shop-salon-1" data-image-description="" data-medium-file="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?fit=600%2C402&amp;ssl=1" data-large-file="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/11/shop-salon-1.jpg?fit=1050%2C704&amp;ssl=1"></a>
                            </div>
                            <div class="summary entry-summary">
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                    <p class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>110.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>45.00</span></ins></p>
                                    <meta itemprop="price" content="45">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                </div>
                                <div itemprop="description">
                                    <p class="p1">Masquerade Salon</p>
                                </div>
                                <p class="stock in-stock">52 in stock</p>
                                <form class="cart" method="post" enctype="multipart/form-data">
                                    <div class="quantity">
                                        <input type="number" step="1" min="1" max="52" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                    <input type="hidden" name="add-to-cart" value="976">
                                    <button type="submit" class="single_add_to_cart_button button alt">Buy now</button>
                                </form>
                                <div class="product_meta"> <span class="posted_in">Category: <a href="https://pixelgrade.com/demos/listable/product-category/cinema/" rel="tag">Cinema</a></span> <span class="tagged_as">Tag: <a href="https://pixelgrade.com/demos/listable/product-tag/75-off/" rel="tag">75% OFF</a></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="woocommerce-tabs wc-tabs-wrapper">
                        <ul class="tabs wc-tabs">
                            <li class="additional_information_tab active"> <a href="#tab-additional_information">Additional Information</a></li>
                            <li class="reviews_tab"> <a href="#tab-reviews">Reviews (0)</a></li>
                        </ul>
                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information" style="display: block;">
                            <h2>Additional Information</h2>
                            <table class="shop_attributes">
                                <tbody>
                                    <tr class="">
                                        <th>Smoking policy</th>
                                        <td>
                                            <p>No smoking inside the property</p>
                                        </td>
                                    </tr>
                                    <tr class="alt">
                                        <th>Parking</th>
                                        <td>
                                            <p>Included in resort service charge</p>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <th>Check in</th>
                                        <td>
                                            <p>4pm</p>
                                        </td>
                                    </tr>
                                    <tr class="alt">
                                        <th>Check out</th>
                                        <td>
                                            <p>11am</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" style="display: none;">
                            <div id="reviews">
                                <div id="comments" class="comments-area">
                                    <h2 class="comments-title">Reviews</h2>
                                    <p class="woocommerce-noreviews">There are no reviews yet.</p>
                                </div>
                                <div id="review_form_wrapper">
                                    <div id="review_form">
                                        <div id="respond" class="comment-respond">
                                            <h3 id="reply-title" class="comment-reply-title">Be the first to review “Up to 59% Off a Haircut and Highlights Package” <small><a rel="nofollow" id="cancel-comment-reply-link" href="/demos/listable/product/up-to-59-off-a-haircut-and-highlights-package/#respond" style="display:none;">Cancel reply</a></small></h3>
                                            <form action="https://pixelgrade.com/demos/listable/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                                                <p class="comment-form-rating">
                                                    <label for="rating">Your Rating</label>
                                                    <p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p>
                                                    <select name="rating" id="rating" style="display: none;">
                                                        <option value="">Rate…</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very Poor</option>
                                                    </select>
                                                </p>
                                                <p class="comment-form-comment">
                                                    <label for="comment">Your Review</label>
                                                    <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                </p>
                                                <p class="comment-form-author">
                                                    <label for="author">Name <span class="required">*</span></label>
                                                    <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                                                </p>
                                                <p class="comment-form-email">
                                                    <label for="email">Email <span class="required">*</span></label>
                                                    <input id="email" name="email" type="text" value="" size="30" aria-required="true">
                                                </p>
                                                <p class="form-submit">
                                                    <input name="submit" type="submit" id="submit" class="submit" value="Submit">
                                                    <input type="hidden" name="comment_post_ID" value="976" id="comment_post_ID">
                                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                </p>
                                                <p style="display: none;">
                                                    <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="e4d2af0198">
                                                </p>
                                                <p class="comment-subscription-form">
                                                    <input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;">
                                                    <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label>
                                                </p>
                                                <p style="display: none;"></p>
                                                <input type="hidden" id="ak_js" name="ak_js" value="1489021852028">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="related products">
                        <h2>Related Products</h2>
                        <div class="archive">
                            <div class="postcards">
                                <div class="grid" id="posts-container">
                                    <div class="grid__item">
                                        <article class="card  card--product first post-973 product type-product status-publish has-post-thumbnail product_cat-cinema product_tag-2-in-1 not-claimed  instock sale virtual shipping-taxable purchasable product-type-simple">
                                            <a href="https://pixelgrade.com/demos/listable/product/imax-cinema-two-tickets-at-price-of-one/"> <span class="onsale">Sale!</span>
                                                <div class="card__image  card__image--product" style="background-image: url(https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/Samsung.jpg?resize=450%2C300&amp;ssl=1)"><span class="product__price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>11.60</span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>5.80</span></ins></span><span class="product__tag">2 in 1</span></div>
                                                <div class="card__content">
                                                    <h2 class="card__title">IMAX Cinema: Two Tickets at Price of One</h2>
                                                    <div itemprop="description">
                                                        <p class="p1">The biggest screen in Britain</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="grid__item">
                                        <article class="card  card--product post-975 product type-product status-publish has-post-thumbnail product_cat-cinema product_tag-75-off not-claimed last instock sale virtual shipping-taxable purchasable product-type-simple">
                                            <a href="https://pixelgrade.com/demos/listable/product/three-course-meal-at-paesan-restaurant-5/"> <span class="onsale">Sale!</span>
                                                <div class="card__image  card__image--product" style="background-image: url(https://i2.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/10471006_439679632838383_68901029035295467_o.jpg?resize=450%2C300&amp;ssl=1)"><span class="product__price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>125.00</span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>32.00</span></ins></span><span class="product__tag">75% OFF</span></div>
                                                <div class="card__content">
                                                    <h2 class="card__title">Three Course Meal at Paesan Restaurant 5*</h2>
                                                    <div itemprop="description">
                                                        <p class="p1">Best traditional home cooked recipes</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <meta itemprop="url" content="https://pixelgrade.com/demos/listable/product/up-to-59-off-a-haircut-and-highlights-package/">
                </article>
            </main>
        </div>
    </div>