<div id="content" class="site-content js-header-height-padding-top">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
  <article id="post-569" class="post-569 job_listing type-job_listing status-publish hentry job_listing_category-apartment job_listing_category-hotels job_listing_type-stay job_listing_tag-accepts-credit-cards job_listing_tag-bike-parking job_listing_tag-familykids-friendly job_listing_tag-parking-street job_listing_tag-reservations job_listing_tag-smoking-allowed job_listing_tag-special job_listing_tag-wheelchair-accessible job_listing_tag-wireless-internet not-claimed" itemscope itemtype="http://schema.org/LocalBusiness">
  <!-- featured images partial -->
  {{>v2/tour/_featuredImg}}
  <div>
  <div class="single_job_listing" data-latitude="51.5226217" data-longitude="-0.1251602" data-categories="Stay" data-icon="">
      <div class="grid">
          <div class="grid__item  column-content  entry-content">
              <header class="entry-header">
                  <nav class="single-categories-breadcrumb"> <a href="https://pixelgrade.com/demos/listable/listings/">Listings</a> >> <a href="https://pixelgrade.com/demos/listable/listing-category/hotels/">Hotels</a> >><a href="https://pixelgrade.com/demos/listable/listing-category/apartment/">Apartment</a> </nav>
                  <h1 class="entry-title" itemprop="name"> {{data.tour.name}}</h1> <span class="entry-subtitle" itemprop="description">{{data.tour.description.short}}.</span>
                  <div class="single-meta">
                      <a href="#comments" class="single-rating review_rate display-only" data-pixrating="4.50" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"> <span class="rating-value">(<span itemprop="reviewCount">2</span>)</span>
                          <meta itemprop="ratingValue" content="4.50"> </a> <a class="listing-contact  listing--phone" href="tel:+44 20 787 640" itemprop="telephone">+44 20 787 640</a> <a class="listing-contact  listing--twitter" href="https://twitter.com/PH_Hotels" itemprop="url">@PH_Hotels</a> <a class="listing-contact  listing--website" href="http://hotelrusselllondon.co.uk" itemprop="url" target="_blank" rel="nofollow">hotelrusselllondon.co.uk</a></div>
              </header>
              <div class="listing-sidebar  listing-sidebar--main">
                  <div id="listing_actions-2" class="widget  widget_listing_actions">
                      <div class="single-action-buttons">
                          <a href="#respond" class="action  action--review"> <span class="action__icon"><svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <path id="path-1" d="M10.617312,14.9553574 L7.40104003,12.5799081 L4.18357469,14.9553574 C3.98595869,15.1007054 3.75206536,15.1754081 3.51888803,15.1754081 C3.28857469,15.1754081 3.05826136,15.1035694 2.86160003,14.9598921 C2.46636803,14.6737307 2.30216536,14.1646547 2.45706003,13.7014027 L3.72127736,9.9068414 L0.46848936,7.58079607 C0.0713480263,7.29654407 -0.0954799737,6.78842274 0.054402693,6.32421607 C0.204524026,5.86263474 0.634362693,5.55117474 1.11909469,5.55117474 C1.12100403,5.55117474 5.12606936,5.5829174 5.12606936,5.5829174 L6.33252936,1.76997874 C6.47883203,1.30457874 6.91153469,0.988584071 7.39913069,0.988584071 C7.88672669,0.988584071 8.31919069,1.3055334 8.46477736,1.76997874 L9.67099869,5.5829174 L13.6686654,5.55117474 C14.1619894,5.55117474 14.5944534,5.86263474 14.7409947,6.32421607 C14.8927867,6.7893774 14.727868,7.2955894 14.329772,7.58079607 L11.0788934,9.9068414 L12.34502,13.7014027 C12.4977667,14.1637001 12.3338027,14.6727761 11.941196,14.9598921 C11.7454894,15.1026147 11.5132667,15.1754081 11.2819987,15.1754081 C11.0471507,15.1754081 10.8139734,15.1007054 10.617312,14.9553574 Z"></path> </defs> <g id="Page---Listing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Icon-Slicing" transform="translate(0.000000, -1.000000)"> <g id="Imported-Layers-Copy"> <use fill="currentColor" fill-rule="evenodd" xlink:href="#path-1"></use> <use fill="none" xlink:href="#path-1"></use> </g> </g> </g> </svg></span> <span class="action__text">Write a review</span> <span class="action__text--mobile">Review</span> </a>
                          <div class="job-manager-form action--favorite  action  wp-job-manager-bookmarks-form lwa"> <span class="action__icon"> <svg width="15" height="16" viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg"><path d="M12.67 8.552c1.626-1.625 1.59-3.995.113-5.465-1.478-1.47-3.868-1.464-5.338.014-1.47-1.474-3.86-1.48-5.338-.01C.63 4.558.595 6.928 2.22 8.55l5.225 5.226c.51-.508 3.41-3.412 5.225-5.226z" fill="currentColor" fill-rule="evenodd"/></svg> </span> <a class="action__text lwa-links-modal lwa-login-link" href="https://pixelgrade.com/demos/listable/wp-login.php?redirect_to=https%3A%2F%2Fpixelgrade.com%2Fdemos%2Flistable%2Flistings%2Frussell-hotel%2F&modal_login=true#login"> Add to favorites </a> <a class="action__text--mobile lwa-links-modal lwa-login-link" href="https://pixelgrade.com/demos/listable/wp-login.php?redirect_to=https%3A%2F%2Fpixelgrade.com%2Fdemos%2Flistable%2Flistings%2Frussell-hotel%2F&modal_login=true#login"> Favorite </a></div>
                          <div class="action  action--share  tooltip-container">
                              <a href="#" class="tooltip-trigger  js-tooltip-trigger"> <span class="action__icon"> <svg width="15px" height="16px" viewBox="0 0 15 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs></defs> <g id="Page---Listing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Icon-Slicing" transform="translate(-36.000000, 0.000000)" fill="currentColor"> <path d="M36,14.5981841 C36,4.64082407 44.3594,4.68562407 44.3594,4.68562407 L44.3594,1.48858407 L50.93716,7.15298407 L44.3594,12.6799041 L44.3594,9.39522407 C44.3594,9.39522407 39.24296,7.92970407 36,14.5981841 L36,14.5981841 Z" id="Imported-Layers-Copy-8"></path> </g> </g> </svg> </span> <span class="action__text">Share</span> <span class="action__text--mobile">Share</span> </a>
                              <div class="sharedaddy sd-sharing-enabled">
                                  <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                                      <h3 class="sd-title">Share this:</h3>
                                      <div class="sd-content">
                                          <ul>
                                              <li class="fa fa-twitter"><a rel="nofollow" data-shared="sharing-twitter-569" class="share-twitter sd-button share-icon" href="https://pixelgrade.com/demos/listable/listings/russell-hotel/?share=twitter" target="_blank" title="Click to share on Twitter"><span>Twitter</span></a></li>
                                              <li class="share-facebook"><a rel="nofollow" data-shared="sharing-facebook-569" class="share-facebook sd-button share-icon" href="https://pixelgrade.com/demos/listable/listings/russell-hotel/?share=facebook" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a></li>
                                              <li class="share-google-plus-1"><a rel="nofollow" data-shared="sharing-google-569" class="share-google-plus-1 sd-button share-icon" href="https://pixelgrade.com/demos/listable/listings/russell-hotel/?share=google-plus-1" target="_blank" title="Click to share on Google+"><span>Google</span></a></li>
                                              <li class="share-end"></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="listing_content-2" class="widget  widget_listing_content">
                      <div class="job_description" itemprop="description">
                          <h2>Información del Tour</h2>
                          <p>{{{data.tour.description.extended}}}</p>
                      </div>
                  </div>
                  <div id="listing_tags-4" class="widget  widget_listing_tags">
                      <ul class="listing-tag-list">
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/accepts-credit-cards/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-card.svg" alt=""/></span> <span class="tag__text">Accepts Credit Cards</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/bike-parking/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-bike.svg" alt=""/></span> <span class="tag__text">Bike Parking</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/familykids-friendly/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-family.svg" alt=""/></span> <span class="tag__text">Family/Kids Friendly</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/parking-street/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-car-park.svg" alt=""/></span> <span class="tag__text">Parking Street</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/reservations/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-reservation.svg" alt=""/></span> <span class="tag__text">Reservations</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/smoking-allowed/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-smoking.svg" alt=""/></span> <span class="tag__text">Smoking Allowed</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/special/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/icon-design-studio.svg" alt=""/></span> <span class="tag__text">Special</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/wheelchair-accessible/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-wheel-chair.svg" alt=""/></span> <span class="tag__text">Wheelchair Accessible</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-tag/wireless-internet/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-wifi.svg" alt=""/></span> <span class="tag__text">Wireless Internet</span> </a>
                          </li>
                      </ul>
                  </div>
                  <div id="listing_comments-2" class="widget  widget_listing_comments">
                      <div id="comments" class="comments-area">
                          <h2 class="comments-title">2 reviews</h2>
                          <ol class="comment-list">
                              <li class="comment byuser comment-author-georgeolaru bypostauthor even thread-even depth-1" id="li-comment-29" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                  <div class="comment-wrapper">
                                      <header class="comment-header">
                                          <div class="comment-author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person"> <img alt='' src='https://graph.facebook.com/1420998771262239/picture?width=400&#038;height=400' srcset='https://graph.facebook.com/1420998771262239/picture?width=400&#038;height=400 2x' class='avatar avatar-75 photo' height='75' width='75' /><span class="fn"><a href='http://pixelgrade.com' rel='external nofollow' class='url'>George</a></span></div>
                                      </header>
                                      <div class="comment-content" itemprop="reviewBody">
                                          <h3 class="pixrating_title">First class customer service in a great hotel</h3>
                                          <div class="review_rate" data-pixrating="5"></div>
                                          <div class="comment-meta commentmetadata" itemprop="datePublished" content="2015-11-06T13:27:37+0000">
                                              <a href="https://pixelgrade.com/demos/listable/listings/russell-hotel/#comment-29">
                                                  <time pubdate datetime="2015-11-06T13:27:37+00:00">on November 6, 2015</time>
                                                  <br /> </a>
                                          </div>
                                          <p>Stayed here for a few days in half term. With a trip to the theatre to see Lion King. The hotel was perfectly situated for all the London things we wanted to do. All the hotel staff were so friendly and helpful. We were on the sixth floor this blocked out a lot of traffic noise, as London never sleeps.</p>
                                      </div>
                                      <div class="reply"> <a rel='nofollow' class='comment-reply-link' href='https://pixelgrade.com/demos/listable/listings/russell-hotel/?replytocom=29#respond' onclick='return addComment.moveForm( "comment-29", "29", "respond", "569" )' aria-label='Reply to George'>Reply</a></div>
                                  </div>
                              </li>
                              <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-48" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                  <div class="comment-wrapper">
                                      <header class="comment-header">
                                          <div class="comment-author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person"> <img alt='' src='https://secure.gravatar.com/avatar/99cc5fb5d5a5031d3231142baad07248?s=75&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/99cc5fb5d5a5031d3231142baad07248?s=150&amp;d=mm&amp;r=g 2x' class='avatar avatar-75 photo' height='75' width='75' /><span class="fn">Barki</span></div>
                                      </header>
                                      <div class="comment-content" itemprop="reviewBody">
                                          <h3 class="pixrating_title">Great Service</h3>
                                          <div class="review_rate" data-pixrating="4"></div>
                                          <div class="comment-meta commentmetadata" itemprop="datePublished" content="2015-11-16T15:56:22+0000">
                                              <a href="https://pixelgrade.com/demos/listable/listings/russell-hotel/#comment-48">
                                                  <time pubdate datetime="2015-11-16T15:56:22+00:00">on November 16, 2015</time>
                                                  <br /> </a>
                                          </div>
                                          <p>Haven&#8217;t had any such a great service ever!</p>
                                      </div>
                                      <div class="reply"> <a rel='nofollow' class='comment-reply-link' href='https://pixelgrade.com/demos/listable/listings/russell-hotel/?replytocom=48#respond' onclick='return addComment.moveForm( "comment-48", "48", "respond", "569" )' aria-label='Reply to Barki'>Reply</a></div>
                                  </div>
                              </li>
                          </ol>
                          <div id="respond" class="comment-respond">
                              <h3 id="reply-title" class="comment-reply-title">Rate and write a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/demos/listable/listings/russell-hotel/#respond" style="display:none;">Cancel reply</a></small></h3>
                              <form action="https://pixelgrade.com/demos/listable/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                  <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                  <p class="comment-form-comment">
                                      <label for="comment">Your Review:</label>
                                      <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required="required" placeholder="Tell about your experience or leave a tip for others"></textarea>
                                  </p>
                                  <p class="comment-form-author">
                                      <label for="author">Name <span class="required">*</span></label>
                                      <input id="author" placeholder="Your name" name="author" type="text" value="" size="30" maxlength="245" aria-required='true' required='required' />
                                  </p>
                                  <p class="comment-form-email">
                                      <label for="email">Email <span class="required">*</span></label>
                                      <input id="email" placeholder="your@email.com" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required='true' required='required' />
                                  </p>
                                  <p class="comment-form-url">
                                      <label for="url">Website</label>
                                      <input id="url" name="url" type="url" value="" size="30" maxlength="200" />
                                  </p>
                                  <div id="add_comment_rating_wrap">
                                      <label for="add_post_rating">Your overall rating of this listing</label>
                                      <div id="add_post_rating" data-pixrating="4" data-assets_path="https://pixelgrade.com/demos/listable/wp-content/plugins/comments-ratings//images"></div>
                                  </div>
                                  <p class="review-title-form">
                                      <label for="pixrating_title">Title of your review</label>
                                      <input type='text' id='pixrating_title' name='pixrating_title' value="" placeholder="Summarize your opinion or highlight an interesting detail" size='25' />
                                  </p>
                                  <p class="form-submit">
                                      <input name="submit" type="submit" id="submit" class="submit" value="Submit your Review" />
                                      <input type='hidden' name='comment_post_ID' value='569' id='comment_post_ID' />
                                      <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                  </p>
                                  <p style="display: none;">
                                      <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="ffc65b256b" />
                                  </p>
                                  <p class="comment-subscription-form">
                                      <input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" />
                                      <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label>
                                  </p>
                                  <p style="display: none;">
                                      <input type="hidden" id="ak_js" name="ak_js" value="77" />
                                  </p>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="grid__item  column-sidebar">
              <div class="listing-sidebar  listing-sidebar--top  listing-sidebar--secondary">
                  <!-- booking Form -->
                  {{>v2/tour/_bookingForm}}
                  <div id="listing_sidebar_products-2" class="widget  widget_listing_sidebar_products">
                      <h3 class="widget_sidebar_title"> Make an Online Reservation</h3>
                      <div class="listing-products__items">
                          <div itemscope itemtype="http://schema.org/Product" class="product woocommerce add_to_cart_inline product-type_booking" id="product-1846">
                              <div class="summary entry-summary">
                                  <h1 itemprop="name" class="product_title entry-title">Room Reservation at Russel Hotel Spa Resort</h1>
                                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                      <p class="price">From: <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>69.00</span>
                                      </p>
                                      <meta itemprop="price" content="69" />
                                      <meta itemprop="priceCurrency" content="USD" />
                                      <link itemprop="availability" href="http://schema.org/InStock" />
                                  </div>
                                  <div itemprop="description">
                                      <p class="p1">Two medium pizzas baked from housemade dough</p>
                                  </div>
                                  <noscript>Your browser must support JavaScript in order to make a booking.</noscript>
                                  <form class="cart" method="post" enctype='multipart/form-data'>
                                      <div id="wc-bookings-booking-form" class="wc-bookings-booking-form" style="display:none">
                                          <!--<p class="form-field form-field-wide wc_bookings_field_duration">
                                              <label for="wc_bookings_field_duration">Duration:</label>
                                              <input type="number" value="1" step="1" min="1" max="14" name="wc_bookings_field_duration" id="wc_bookings_field_duration" /> Day(s)</p> -->
                                          <p class="form-field form-field-wide wc_bookings_field_persons">
                                              <label for="wc_bookings_field_persons">Persons:</label>
                                              <input type="number" value="1" step="1" min="1" max="" name="wc_bookings_field_persons" id="wc_bookings_field_persons" />
                                          </p>
                                          <p class="form-field form-field-wide wc_booking_field_ wc_bookings_field_resource">
                                              <label for="wc_bookings_field_resource">Type:</label>
                                              <select name="wc_bookings_field_resource" id="wc_bookings_field_resource">
                                                  <option value="1847">Standard Room (+<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>69.00</span> per day)</option>
                                                  <option value="1848">Two-Double Room (+<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>144.00</span> per day)</option>
                                                  <option value="1849">King Suite (+<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>188.00</span> per day)</option>
                                                  <option value="1851">Two-Double Suite (+<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>238.00</span> per day)</option>
                                              </select>
                                          </p>
                                          <fieldset class="wc-bookings-date-picker wc-bookings-date-picker-booking wc_bookings_field_start_date">
                                              <legend> <span class="label">Start Date</span>: <small class="wc-bookings-date-picker-choose-date">Choose...</small></legend>
                              
                                              <div class="picker" data-display="always_visible" data-duration-unit="day" data-availability="" data-default-availability="true" data-fully-booked-days="[]" data-partially-booked-days="[]" data-buffer-days="[]" data-min_date="+1d" data-max_date="+12m" data-availability="{"0":[["days",[true,true,true,true,true,true,true,true],10,"global"],["time",{"from":"00:00","to":"00:00","rule":true,"day":0},10,"global"]],"1847":[["days",[true,true,true,true,true,true,true,true],10,"global"],["time",{"from":"00:00","to":"00:00","rule":true,"day":0},10,"global"]],"1848":[["days",[true,true,true,true,true,true,true,true],10,"global"],["time",{"from":"00:00","to":"00:00","rule":true,"day":0},10,"global"]],"1849":[["days",[true,true,true,true,true,true,true,true],10,"global"],["time",{"from":"00:00","to":"00:00","rule":true,"day":0},10,"global"]],"1851":[["days",[true,true,true,true,true,true,true,true],10,"global"],["time",{"from":"00:00","to":"00:00","rule":true,"day":0},10,"global"]]}" data-default_date="2017-01-19" data-is_range_picker_enabled="0"></div>
                                              <div class="wc-bookings-date-picker-date-fields"> <span>Start:</span>
                                                  <br />
                                                  <label>
                                                      <input type="text" name="wc_bookings_field_start_date_month" placeholder="mm" size="2" class="booking_date_month" /> <span>Month</span> </label> /
                                                  <label>
                                                      <input type="text" name="wc_bookings_field_start_date_day" placeholder="dd" size="2" class="booking_date_day" /> <span>Day</span> </label> /
                                                  <label>
                                                      <input type="text" value="2017" name="wc_bookings_field_start_date_year" placeholder="YYYY" size="4" class="booking_date_year" /> <span>Year</span> </label>
                                              </div>
                                              <div class="wc-bookings-date-picker-date-fields"> <span>End:</span>
                                                  <br />
                                                  <label>
                                                      <input type="text" name="wc_bookings_field_start_date_to_month" placeholder="mm" size="2" class="booking_to_date_month" /> <span>Month</span> </label> /
                                                  <label>
                                                      <input type="text" name="wc_bookings_field_start_date_to_day" placeholder="dd" size="2" class="booking_to_date_day" /> <span>Day</span> </label> /
                                                  <label>
                                                      <input type="text" value="2017" name="wc_bookings_field_start_date_to_year" placeholder="YYYY" size="4" class="booking_to_date_year" /> <span>Year</span> </label>
                                              </div>
                                          </fieldset>
                                          <div class="wc-bookings-booking-cost" style="display:none"></div>
                                      </div>
                                      <input type="hidden" name="add-to-cart" value="1846" />
                                      <button type="submit" class="wc-bookings-booking-form-button single_add_to_cart_button button alt disabled" style="display:none">Book now</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="listing_sidebar_map-2" class="widget  widget_listing_sidebar_map">
                      <div class="listing-map-container" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                          <div id="map" class="listing-map"></div>
                          <meta itemprop="latitude" content="51.5226217" />
                          <meta itemprop="longitude" content="-0.1251602" />
                      </div>
                      <div class="listing-map-content"> <address class="listing-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><div itemprop="streetAddress"> <span class="address__street">Russell Square</span> <span class="address__street-no">8</span></div> <span class="address__city" itemprop="addressLocality">London</span> <span class="address__postcode" itemprop="postalCode">WC1B 5BE</span> <span class="address__state-short" itemprop="addressRegion">Gt Lon</span> <span class="address__country-short" itemprop="addressCountry">GB</span> </address> <a href="//maps.google.com/maps?daddr=51.5226217,-0.1251602" class="listing-address-directions" target="_blank">Get directions</a></div>
                  </div>

                  
              </div>
              <div class="listing-sidebar  listing-sidebar--bottom  listing-sidebar--secondary">
                  <div id="listing_sidebar_categories-2" class="widget  widget_listing_sidebar_categories">
                      <ul class="categories">
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-category/apartment/"> <span class="category-icon"> <svg width="16" height="26" viewBox="0 0 16 26" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-16 -12)" fill="none" fill-rule="evenodd"><circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/><g fill="currentColor"><path d="M29.715 32.927h-4.837V31.66h4.837c.13 0 .236-.107.236-.24V13.506c0-.13-.105-.237-.235-.237H17.268v19.025H16V12h13.715c.83 0 1.505.675 1.505 1.505v17.917c0 .83-.675 1.505-1.505 1.505z"/><path d="M24.628 37.84c-.155 0-.306-.042-.44-.124l-7.793-4.825c-.248-.153-.395-.418-.395-.71V12.995c0-.46.375-.835.835-.835.154 0 .306.042.438.125l7.795 4.824c.248.15.396.417.396.71v19.186c0 .46-.375.835-.836.835zm-7.36-5.9l6.928 4.288V18.06l-6.928-4.288V31.94z"/><path d="M22.34 24.683h1.27v2.537h-1.27z"/></g></g></svg> </span> <span class="category-text">Apartment</span> </a>
                          </li>
                          <li>
                              <a href="https://pixelgrade.com/demos/listable/listing-category/hotels/"> <span class="category-icon"> <svg width="26" height="24" viewBox="0 0 26 24" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-11 -12)" fill="none" fill-rule="evenodd"><circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/><g fill="currentColor"><path d="M28 36h-7v-5h-3v5h-7V12h17v24zm-6-1h5V13H12v22h5v-5h5v5z"/><path d="M18.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM25.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM34.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM34.5 33.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM18.5 20.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM25.5 20.5h-5v-5h5v5zm-4-1h3v-3h-3v3z"/><path d="M37 36H27V20h10v16zm-9-1h8V21h-8v14z"/></g></g></svg> </span> <span class="category-text">Hotels</span> </a>
                          </li>
                      </ul>
                  </div>
                  <div id="listing_sidebar_hours-2" class="widget  widget_listing_sidebar_hours">
                      <div class="schedule" itemprop="openingHours">Mon - Sun: 00:00 - 24:00</div>
                  </div>
                  <div id="listing_sidebar_gallery-2" class="widget  widget_listing_sidebar_gallery">
                      <header class="listing-gallery__header"> <span class="listing-gallery__title">Photo gallery</span> <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955404_y.jpeg" class="listing-gallery__all">All photos (6)</a> </header>
                      <div class="listing-gallery__items  js-widget-gallery">
                          <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955404_y.jpeg" class="listing-gallery__item"> <img width="300" height="300" src="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955404_y.jpeg?resize=300%2C300&amp;ssl=1" class="attachment-thumbnail size-thumbnail" alt="67955404_y" itemprop="image" caption="" description="" srcset="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955404_y.jpeg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955404_y.jpeg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955404_y.jpeg?zoom=2&amp;resize=300%2C300&amp;ssl=1 600w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955404_y.jpeg?zoom=3&amp;resize=300%2C300&amp;ssl=1 900w" sizes="(max-width: 300px) 100vw, 300px" /> </a>
                          <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955388_y.jpeg" class="listing-gallery__item"> <img width="300" height="300" src="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955388_y.jpeg?resize=300%2C300&amp;ssl=1" class="attachment-thumbnail size-thumbnail" alt="67955388_y" itemprop="image" caption="" description="" srcset="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955388_y.jpeg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955388_y.jpeg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955388_y.jpeg?zoom=2&amp;resize=300%2C300&amp;ssl=1 600w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955388_y.jpeg?zoom=3&amp;resize=300%2C300&amp;ssl=1 900w" sizes="(max-width: 300px) 100vw, 300px" /> </a>
                          <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955398_y.jpeg" class="listing-gallery__item"> <img width="300" height="300" src="https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955398_y.jpeg?resize=300%2C300&amp;ssl=1" class="attachment-thumbnail size-thumbnail" alt="67955398_y" itemprop="image" caption="" description="" srcset="https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955398_y.jpeg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955398_y.jpeg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955398_y.jpeg?zoom=2&amp;resize=300%2C300&amp;ssl=1 600w, https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955398_y.jpeg?zoom=3&amp;resize=300%2C300&amp;ssl=1 900w" sizes="(max-width: 300px) 100vw, 300px" /> </a>
                          <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955406_y.jpeg" class="listing-gallery__item"> <img width="300" height="300" src="https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955406_y.jpeg?resize=300%2C300&amp;ssl=1" class="attachment-thumbnail size-thumbnail" alt="67955406_y" itemprop="image" caption="" description="" srcset="https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955406_y.jpeg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955406_y.jpeg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955406_y.jpeg?zoom=2&amp;resize=300%2C300&amp;ssl=1 600w, https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955406_y.jpeg?zoom=3&amp;resize=300%2C300&amp;ssl=1 900w" sizes="(max-width: 300px) 100vw, 300px" /> </a>
                          <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955408_y.jpeg" class="listing-gallery__item"> <img width="300" height="300" src="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955408_y.jpeg?resize=300%2C300&amp;ssl=1" class="attachment-thumbnail size-thumbnail" alt="67955408_y" itemprop="image" caption="" description="" srcset="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955408_y.jpeg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955408_y.jpeg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955408_y.jpeg?zoom=2&amp;resize=300%2C300&amp;ssl=1 600w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/67955408_y.jpeg?zoom=3&amp;resize=300%2C300&amp;ssl=1 900w" sizes="(max-width: 300px) 100vw, 300px" /> </a>
                          <a href="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/110778340_y.jpeg" class="listing-gallery__item"> <img width="300" height="300" src="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/110778340_y.jpeg?resize=300%2C300&amp;ssl=1" class="attachment-thumbnail size-thumbnail" alt="110778340_y" itemprop="image" caption="" description="" srcset="https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/110778340_y.jpeg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/110778340_y.jpeg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/110778340_y.jpeg?zoom=2&amp;resize=300%2C300&amp;ssl=1 600w, https://i1.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/110778340_y.jpeg?zoom=3&amp;resize=300%2C300&amp;ssl=1 900w" sizes="(max-width: 300px) 100vw, 300px" /> </a>
                      </div>
                  </div>
                  <div id="listing_sidebar_claim_listing-2" class="widget  widget_listing_sidebar_claim_listing">
                      <h2 class="widget_sidebar_title"><div class="lwa">Is this your business? <a class="listing-claim-button lwa-links-modal lwa-login-link" href="https://pixelgrade.com/demos/listable/wp-login.php?redirect_to=https%3A%2F%2Fpixelgrade.com%2Fdemos%2Flistable%2Flistings%2Frussell-hotel%2F&modal_login=true#login">Claim it now.</a></div></h2><small class="listing-claim-description">Make sure your information are up to date.</small></div>
                  <div id="gform_widget-4" class="widget  gform_widget">
                      <h2 class="widget_sidebar_title">Contact Us</h2>
                      <script type='text/javascript' src='https://pixelgrade.com/demos/listable/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.1.1'></script>
                      <script type='text/javascript' src='https://pixelgrade.com/demos/listable/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.1.1'></script>
                      <script type="text/javascript">
                          var gf_global = {
                              "gf_currency_config": {
                                  "name": "U.S. Dollar",
                                  "symbol_left": "$",
                                  "symbol_right": "",
                                  "symbol_padding": "",
                                  "thousand_separator": ",",
                                  "decimal_separator": ".",
                                  "decimals": 2
                              },
                              "base_url": "https:\/\/pixelgrade.com\/demos\/listable\/wp-content\/plugins\/gravityforms",
                              "number_formats": [],
                              "spinnerUrl": "https:\/\/pixelgrade.com\/demos\/listable\/wp-content\/plugins\/gravityforms\/images\/spinner.gif"
                          };
                      </script>
                      <div class='gf_browser_unknown gform_wrapper' id='gform_wrapper_1'>
                          <a id='gf_1' class='gform_anchor'></a>
                          <form method='post' enctype='multipart/form-data' target='gform_ajax_frame_1' id='gform_1' action='/demos/listable/listings/russell-hotel/#gf_1'>
                              <div class='gform_body'>
                                  <ul id='gform_fields_1' class='gform_fields top_label form_sublabel_below description_below'>
                                      <li id='field_1_1' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'>
                                          <label class='gfield_label' for='input_1_1'>Name<span class='gfield_required'>*</span></label>
                                          <div class='ginput_container ginput_container_text'>
                                              <input name='input_1' id='input_1_1' type='text' value='' class='medium' tabindex='1' placeholder='Your Name' aria-required="true" aria-invalid="false" />
                                          </div>
                                      </li>
                                      <li id='field_1_2' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'>
                                          <label class='gfield_label' for='input_1_2'>Email<span class='gfield_required'>*</span></label>
                                          <div class='ginput_container ginput_container_email'>
                                              <input name='input_2' id='input_1_2' type='text' value='' class='medium' tabindex='2' placeholder='Your Email' />
                                          </div>
                                      </li>
                                      <li id='field_1_3' class='gfield field_sublabel_below field_description_below gfield_visibility_visible'>
                                          <label class='gfield_label' for='input_1_3'>Question Type</label>
                                          <div class='ginput_container ginput_container_select'>
                                              <select name='input_3' id='input_1_3' class='medium gfield_select' tabindex='3' aria-invalid="false">
                                                  <option value='' selected='selected' class='gf_placeholder'>I have a question about..</option>
                                                  <option value='Availability'>Availability</option>
                                                  <option value='Pricing'>Pricing</option>
                                                  <option value='Location'>Location</option>
                                                  <option value='Conditions'>Conditions</option>
                                                  <option value='Other'>Other</option>
                                              </select>
                                          </div>
                                      </li>
                                      <li id='field_1_4' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'>
                                          <label class='gfield_label' for='input_1_4'>Message<span class='gfield_required'>*</span></label>
                                          <div class='ginput_container ginput_container_textarea'>
                                              <textarea name='input_4' id='input_1_4' class='textarea medium' tabindex='4' placeholder='Your message..' aria-required="true" aria-invalid="false" rows='10' cols='50'></textarea>
                                          </div>
                                      </li>
                                      <li id='field_1_5' class='gfield gform_hidden field_sublabel_below field_description_below gfield_visibility_visible'>
                                          <input name='input_5' id='input_1_5' type='hidden' class='gform_hidden' aria-invalid="false" value='569' />
                                      </li>
                                  </ul>
                              </div>
                              <div class='gform_footer top_label'>
                                  <input type='submit' id='gform_submit_button_1' class='gform_button button' value='Contact Owner' tabindex='5' onclick='if(window["gf_submitting_1"]){return false;}  window["gf_submitting_1"]=true;  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_1"]){return false;} window["gf_submitting_1"]=true;  jQuery("#gform_1").trigger("submit",[true]); }' />
                                  <input type='hidden' name='gform_ajax' value='form_id=1&amp;title=&amp;description=&amp;tabindex=1' />
                                  <input type='hidden' class='gform_hidden' name='is_submit_1' value='1' />
                                  <input type='hidden' class='gform_hidden' name='gform_submit' value='1' />
                                  <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
                                  <input type='hidden' class='gform_hidden' name='state_1' value='WyJbXSIsImZhZmI1YjI2YWU0OTczODZiYjIzMzU3ODcwNDU1Mzk5Il0=' />
                                  <input type='hidden' class='gform_hidden' name='gform_target_page_number_1' id='gform_target_page_number_1' value='0' />
                                  <input type='hidden' class='gform_hidden' name='gform_source_page_number_1' id='gform_source_page_number_1' value='1' />
                                  <input type='hidden' name='gform_field_values' value='' />
                              </div>
                          </form>
                      </div>
                      <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_1' id='gform_ajax_frame_1'>This iframe contains the logic required to handle AJAX powered Gravity Forms.</iframe>
                      <script type='text/javascript'>
                          jQuery(document).ready(function($) {
                              gformInitSpinner(1, 'https://pixelgrade.com/demos/listable/wp-content/plugins/gravityforms/images/spinner.gif');
                              jQuery('#gform_ajax_frame_1').load(function() {
                                  var contents = jQuery(this).contents().find('*').html();
                                  var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;
                                  if (!is_postback) {
                                      return;
                                  }
                                  var form_content = jQuery(this).contents().find('#gform_wrapper_1');
                                  var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_1').length > 0;
                                  var is_redirect = contents.indexOf('gformRedirect(){') >= 0;
                                  var is_form = form_content.length > 0 && !is_redirect && !is_confirmation;
                                  if (is_form) {
                                      jQuery('#gform_wrapper_1').html(form_content.html());
                                      if (form_content.hasClass('gform_validation_error')) {
                                          jQuery('#gform_wrapper_1').addClass('gform_validation_error');
                                      } else {
                                          jQuery('#gform_wrapper_1').removeClass('gform_validation_error');
                                      }
                                      setTimeout(function() {
                                          jQuery(document).scrollTop(jQuery('#gform_wrapper_1').offset().top);
                                      }, 50);
                                      if (window['gformInitDatepicker']) {
                                          gformInitDatepicker();
                                      }
                                      if (window['gformInitPriceFields']) {
                                          gformInitPriceFields();
                                      }
                                      var current_page = jQuery('#gform_source_page_number_1').val();
                                      gformInitSpinner(1, 'https://pixelgrade.com/demos/listable/wp-content/plugins/gravityforms/images/spinner.gif');
                                      jQuery(document).trigger('gform_page_loaded', [1, current_page]);
                                      window['gf_submitting_1'] = false;
                                  } else if (!is_redirect) {
                                      var confirmation_content = jQuery(this).contents().find('#gforms_confirmation_message_1').html();
                                      if (!confirmation_content) {
                                          confirmation_content = contents;
                                      }
                                      setTimeout(function() {
                                          jQuery('#gform_wrapper_1').replaceWith('<' + 'div id=\'gforms_confirmation_message_1\' class=\'gform_confirmation_message_1 gforms_confirmation_message\'' + '>' + confirmation_content + '<' + '/div' + '>');
                                          jQuery(document).scrollTop(jQuery('#gforms_confirmation_message_1').offset().top);
                                          jQuery(document).trigger('gform_confirmation_loaded', [1]);
                                          window['gf_submitting_1'] = false;
                                      }, 50);
                                  } else {
                                      jQuery('#gform_1').append(contents);
                                      if (window['gformRedirect']) {
                                          gformRedirect();
                                      }
                                  }
                                  jQuery(document).trigger('gform_post_render', [1, current_page]);
                              });
                          });
                      </script>
                      <script type='text/javascript'>
                          if (typeof gf_global == 'undefined') var gf_global = {
                              "gf_currency_config": {
                                  "name": "U.S. Dollar",
                                  "symbol_left": "$",
                                  "symbol_right": "",
                                  "symbol_padding": "",
                                  "thousand_separator": ",",
                                  "decimal_separator": ".",
                                  "decimals": 2
                              },
                              "base_url": "https:\/\/pixelgrade.com\/demos\/listable\/wp-content\/plugins\/gravityforms",
                              "number_formats": [],
                              "spinnerUrl": "https:\/\/pixelgrade.com\/demos\/listable\/wp-content\/plugins\/gravityforms\/images\/spinner.gif"
                          };
                          jQuery(document).bind('gform_post_render', function(event, formId, currentPage) {
                              if (formId == 1) {
                                  if (typeof Placeholders != 'undefined') {
                                      Placeholders.enable();
                                  }
                              }
                          });
                          jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit) {});
                      </script>
                      <script type='text/javascript'>
                          jQuery(document).ready(function() {
                              jQuery(document).trigger('gform_post_render', [1, 1])
                          });
                      </script>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
                
<!-- This website is like a Rocket, isn't it ? Performance optimized by WP Rocket. Learn more: http://wp-rocket.me -->