 <!-- start Main Wrapper -->
    <div class="main-wrapper">
    
      <!-- start hero-header with windows height -->
      <div class="hero" style="background-image:url('http://res.cloudinary.com/triptable/image/upload/c_fill,q_60,w_1440/v1460674515/01_tqumqz.jpg');">
        
        <div class="container">
        
          <div class="row">
          
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            
              <h1 class="hero-title">Únicas Experiencias Locales</h1>
              <p class="lead">Explora Latinoamérica con Triptable!</p>

            </div>
            
          </div>
          
          <div class="main-search-wrapper full-width">
          
            <div class="inner">
            
              <div class="column-item">
              
                <div class="form-group">
                
                  <select name="destination" class="select2-multi form-control" data-placeholder="Escoge un País">
                    <option value="panama">Panamá</option>
                    <option value="colombia" disabled>Colombia (Próx)</option>
                    <option value="costa-rica" disabled>Costa Rica (Próx)</option>
                  </select>

                </div>
              
              </div>
              
              <div class="column-item">
              
                <div class="form-group">
                
                  <select name="month" class="select2-multi form-control province" id="destino" data-placeholder="Escoge un Destino">
                    <option value="">Escoge un Destino</option>
                    <option value="0">Todos</option>
                    {{#each data.provinces}}
                    <option value="{{slug}}">{{province}}</option>
                    {{/each}}
                  </select>
                  
                </div>
              
              </div>
              
              <div class="column-item">
              
                <div class="form-group">

                  <select name="year" class="select2-multi form-control" data-placeholder="Tipo de Trip">
                    <option value="">Escoge un tipo</option>
                    <option value="0">Todos</option>
                    <option value="2016">Tours de Ciudad</option>
                    <option value="2017">Aventura</option>
                    <option value="2017">Gastronómicos</option>
                    <option value="2017">Ecoturismo</option>
                  </select>
                  
                </div>
              
              </div>
              
              <div class="column-item for-btn">
              
                <div class="form-group">
                <script type="text/javascript">
                  $( document ).ready(function() {
                     $('#destino').on('change', function(){
                        var city = $('#destino').val();
                        if (city == 0){
                          var city = "";
                        }
                        console.log(city);
                        $("#searchBtn").attr("href", "/panama/"+city);
                     }); 
                  });
                  
                </script>
                  <a href="#" id="searchBtn" class="btn btn-primary btn-block">Buscar</a>
                  
                </div>
              
              </div>
              
            </div>
            
          </div>
        
        </div>
        
      </div>
      <!-- end hero-header with windows height -->
      <div class="post-hero bg-light">
      
        <div class="container">
          
          <div class="row">
          
            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"><i class="pe-7s-map-marker"></i></div>
                <div class="content">
                  <h6>10+ Destinos</h6>
                  <span>Descubre tours y actividades en Latinomérica a un sólo click.</span>
                </div>
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-user"></i></div>
                <div class="content">
                  <h6>20+ Guías y Tour Operadores</h6>
                  <span>Reserva con guías turísticos y tour operadores certificados.</span>
                </div>
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-smile"></i></div>
                <div class="content">
                  <h6>300+ Tours Reservados</h6>
                  <span>Cada día viajeros de todo el mundo eligen Triptable para reservar tours y actividades.</span>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>   
      </div>    
 {{>home/destinations}}
 {{>home/tours}}
 {{>home/bookingWithUs}}
 <!--{{>home/testimonials}} -->
 {{>home/newsletter}}
 <!-- <div class="overflow-hidden">
      <div class="instagram-wrapper">
          <div id="instagram" class="instagram"></div>
        </div>      
  </div> -->
</div>
    <!-- end Main Wrapper -->