 .home-icon-cat{
    font-size: 25px;
    padding-bottom: 5px;
 }
 	i.single-action-icon{
 	left: 50%;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }
 ul.perks span.not-included{
   text-decoration: line-through;
   color: #a5a5a5;
 }
 span.blue{
   color: #3498db;
 }
 span.red{
   color: #ff4d58;
 }