<div id="section-3" class="detail-content">
<div class="section-title text-left">
<h4>Tour Accommodation</h4>
</div>
<div class="hotel-item-wrapper">
<div class="row gap-1">
<div class="col-sm-xss-12 col-xs-6 col-sm-4 col-md-4">
<div class="hotel-item mb-1">
<a href="#">
<div class="image">
<img src="/images/accomodation/01.jpg" alt="Hotel" />
</div>
<div class="content">
<h6>Beach Hilton Hotel</h6>
</div>
</a>
</div>
</div>
<div class="col-sm-xss-12 col-xs-6 col-sm-4 col-md-4">
<div class="hotel-item mb-1">
<a href="#">
<div class="image">
<img src="/images/accomodation/02.jpg" alt="Hotel" />
</div>
<div class="content">
<h6>The Privilege Floor @ Croatia</h6>
</div>
</a>
</div>
</div>
<div class="col-sm-xss-12 col-xs-6 col-sm-4 col-md-4">
<div class="hotel-item mb-1">
<a href="#">
<div class="image">
<img src="/images/accomodation/03.jpg" alt="Hotel" />
</div>
<div class="content">
<h6>Croatia Grande Palace Hotel</h6>
</div>
</a>
</div>
</div>
</div>
</div>
<p>Unpacked now declared put you confined daughter improved. Celebrated imprudence few interested especially reasonable off one. Wonder bed elinor family secure met. It want gave west into high no in.</p>
</div>