<div id="section-5" class="detail-content">

<div class="section-title text-left">
<h4>Availability</h4>
</div>

<div class="row mb-20">
<div class="col-sm-6">
<div class="form-group form-icon">
<i class="fa fa-calendar"></i>
<select name="month" class="select2-multi form-control" data-placeholder="Choose a Departure Month" multiple>
<option value="">Choose a Departure Month</option>
<option value="0">Any Departure Month</option>
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
</div>
</div>
</div>

<div class="availabily-wrapper">

<ul class="availabily-list">

<li class="availabily-heading clearfix">

<div class="date-from">
start
</div>

<div class="date-to">
end
</div>

<div class="status">
status
</div>

<div class="price">
price
</div>

<div class="action">
&nbsp;
</div>

</li>

<li class="availabily-content clearfix">

<div class="date-from">
<span class="availabily-heading-label">start:</span>
Monday
<span>March 7, 2016</span>
</div>

<div class="date-to">
<span class="availabily-heading-label">end:</span>
Thursday
<span>March 10, 2016</span>
</div>

<div class="status">
<span class="availabily-heading-label">status:</span>
seats left
<span>15</span>
</div>

<div class="price">
<span class="availabily-heading-label">price:</span>
<span>$1458</span>
</div>

<div class="action">
<a href="#" class="btn btn-primary btn-sm btn-inverse">Book now</a>
</div>

</li>

<li class="availabily-content clearfix">

<div class="date-from">
<span class="availabily-heading-label">start:</span>
Saturday
<span>March 26, 2016</span>
</div>

<div class="date-to">
<span class="availabily-heading-label">end:</span>
Tuesday
<span>March 29, 2016</span>
</div>

<div class="status">
<span class="availabily-heading-label">status:</span>
seats left
<span>20</span>
</div>

<div class="price">
<span class="availabily-heading-label">price:</span>
<span>$1400</span>
</div>

<div class="action">
<a href="#" class="btn btn-primary btn-sm btn-inverse">Book now</a>
</div>

</li>

<li class="availabily-content sold-out clearfix">

<div class="date-from">
<span class="availabily-heading-label">start:</span>
Sunday
<span>April 10, 2016</span>
</div>

<div class="date-to">
<span class="availabily-heading-label">end:</span>
Wednesday
<span>April 13, 2016</span>
</div>

<div class="status">
<span class="availabily-heading-label">status:</span>
<span class="text-success">sold-out</span>
</div>

<div class="price">
<span class="availabily-heading-label">price:</span>
<span>$1300</span>
</div>

<div class="action">
<a href="#" class="btn btn-primary btn-sm btn-inverse">Book now</a>
</div>

</li>

<li class="availabily-content clearfix">

<div class="date-from">
<span class="availabily-heading-label">start:</span>
Friday
<span>April 18, 2016</span>
</div>

<div class="date-to">
<span class="availabily-heading-label">end:</span>
Monday
<span>April 21, 2016</span>
</div>

<div class="status">
<span class="availabily-heading-label">status:</span>
seats left
<span>4</span>
</div>

<div class="price">
<span class="availabily-heading-label">price:</span>
<span>$1458</span>
</div>

<div class="action">
<a href="#" class="btn btn-primary btn-sm btn-inverse">Book now</a>
</div>

</li>

</ul>

</div>

<div class="text-center mt-30">

<button class="btn btn-primary">Show more departures</button>
</div>

</div> -->