<div id="leave-comment" class="detail-content">
                  
                    <div class="section-title text-left">
                      <h4>Deja un Review</h4>
                    </div>
                    
                    <div class="review-form">
                      
                      <form id="reviewForm" class="" method="post">
                      <input type="hidden" name="action" value="review">
                      <input type="hidden" name="author" value="{{userInfo.id}}">
                      <input type="hidden" name="tour" placeholder="TourID" class="form-control" value="{{data.tour.tourId}}">
                        <div class="row">
                          <div class="col-sm-6 col-md-4">
                          
                            <div class="form-group">
                              <h4>Tu Rating: </h4>
                                <div class="raty-wrapper">
                                  <div class="star-rating" data-rating-score="5"></div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="clear"></div>
                          
                          <div class="col-sm-12 col-md-8">
                          
                            <div class="form-group">
                              <h4>Tu Mensaje: </h4>
                              <textarea name="message" class="form-control form-control-sm" rows="5"></textarea>
                            </div>
                          </div>
                          
                          <div class="clear"></div>
                          
                          
                          <div class="col-sm-12 col-md-8 mt-10">
                            <input type="submit" class="btn btn-primary"></input>
                          </div>
                          
                        </div>
                      
                      </form>
                    
                    </div>
                    
                </div>