<div id="leave-comment" class="detail-content">
                  
                    <div class="section-title text-left">
                      <h4>Leave Your Review</h4>
                    </div>
                    
                    <div class="review-form">
                      
                      <form class="">
                      
                        <div class="row">
                        
                          <div class="col-sm-6 col-md-4">
                          
                            <div class="form-group">
                              <label>Your Name: </label>
                              <input type="text" class="form-control" />
                            </div>
                          
                          </div>
                          
                          <div class="clear"></div>
                          
                          <div class="col-sm-6 col-md-4">
                          
                            <div class="form-group">
                              <label>Your Email Address: </label>
                              <input type="email" class="form-control" />
                            </div>
                          
                          </div>
                          
                          <div class="clear"></div>
                          
                          <div class="col-sm-6 col-md-4">
                          
                            <div class="form-group">
                              <label>Your Rating: </label>
                              <div class="rating-wrapper">
                                <div class="raty-wrapper">
                                  <div class="star-rating" data-rating-score="4.0"></div>
                                </div>
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="clear"></div>
                          
                          <div class="col-sm-12 col-md-8">
                          
                            <div class="form-group">
                              <label>Your Message: </label>
                              <textarea class="form-control form-control-sm" rows="5"></textarea>
                            </div>
                          </div>
                          
                          <div class="clear"></div>
                          
                          <div class="col-sm-12 col-md-8 mt-10">
                            <a href="#" class="btn btn-primary">Submit</a>
                          </div>
                          
                        </div>
                      
                      </form>
                    
                    </div>
                    
                </div>