<div class="review-wrapper">
    <div class="review-header">
		<div class="row">
			<div class="col-md-12 ">
				    <p style="font-size:16px; text-align:justify;"> Al solicitar una reserva, el usuario acepta la política de cancelación detallada a continuación. <br>Para reservaciones confirmadas: <br>Se hará un reembolso del 100% del precio pagado al momento de realizar la reserva si cancela hasta con <strong>7 DÍAS </strong> de antelación al día reservado. <br>Se hará un reembolo del 85% del precio pagado al momento de realizar la reserva si cancela hasta con <strong>3 DÍAS</strong> de antelación al día reservado. <br>No se hará un reembolo alguno si cancela con menos de <strong>72 Horas</strong> de antelación al día reservado. 
</p>
			</div>
        </div>
    </div>
</div>
