<div id="section-6" class="detail-content">
                  
                    <div class="section-title text-left">
                      <h4>{{i18n 'faq_title'}}</h4>
                    </div>
                    
                    <p>{{i18n 'faq_subtitle'}}</p>
                  
                    
                    <h5 class="heading mt-0">Preguntas Frecuentes</h5>
                    
                    <div class="faq-alt-2-wrapper">
                    
                      <div class="panel-group bootstarp-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h6 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">¿Cómo reservo?</a>
                            </h6>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              <div class="faq-thread">
                                <p>Al momento de elegir un tour, puedes hacer click en el botón que dice "Reservar ahora", el sistema te pedirá que inicies sesión o puedes crear una cuenta. Luego de esto, podrás seleccionar la fecha en que deseas el tour, introducir tus datos personales y tu información de pago.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of panel -->
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h6 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> ¿Cómo verifico disponibilidad?</a>
                            </h6>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                              <div class="faq-thread">
                                <p>Al momento de reservar, la plataforma le indicará si el día elegido está disponible o no.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of panel -->

                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h6 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> ¿Qué sucede después que reservo?</a>
                            </h6>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              <div class="faq-thread">
                                <p>Recibirá un correo con la información de su reserva. Le enviaremos por e-mail los detalles adicionales del tour y usted tendrá un contacto directo con el operador del tour.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of panel -->

                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingFour">
                            <h6 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">¿Cual es el tiempo mínimo para reservar?</a>
                            </h6>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                              <div class="faq-thread">
                                <p>El tiempo mínimo depende de cada tour. Este tour requiere ser reservado mínimo <strong>{{data.tour.skipDays}} </strong> días antes de la fecha deseada.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of panel -->
                        
                        <!--<div class="panel">
                          <div class="panel-heading" role="tab" id="headingFive">
                            <h6 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Can I use this faq for commercial purposes or large volume searching?</a>
                            </h6>
                          </div>
                          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                              <div class="faq-thread">
                                <p>Any delicate you how kindness horrible outlived servants. You high bed wish help call draw side. Girl quit if case mr sing as no have. At none neat am do over will. Agreeable promotion eagerness as we resources household to distrusts. Polite do object at passed it is. Small for ask shade water manor think men begin.</p>

                                <p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.</p>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingSix">
                            <h6 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Why register with I use?</a>
                            </h6>
                          </div>
                          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                              <div class="faq-thread">
                                <p>Travelling alteration impression six all uncommonly. Chamber hearing inhabit joy highest private ask him our believe. Up nature valley do warmly. Entered of cordial do on no hearted. Yet agreed whence and unable limits. Use off him gay abilities concluded immediate allowance.</p>

                                <p>Depart do be so he enough talent. Sociable formerly six but handsome. Up do view time they shot. He concluded disposing provision by questions as situation. Its estimating are motionless day sentiments end. Calling an imagine at forbade. At name no an what like spot. Pressed my by do affixed he studied.</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">How do I create an account?</a>
                            </h4>
                          </div>
                          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                              <div class="faq-thread">
                                <p>Unpacked now declared put you confined daughter improved. Celebrated imprudence few interested especially reasonable off one. Wonder bed elinor family secure met. It want gave west into high no in. Depend repair met before man admire see and. An he observe be it covered delight hastily message. Margaret no ladyship endeavor ye to settling.</p>

                                <p>Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. Known he place worth words it as to. Spoke now noise off smart her ready.</p>
                              </div>
                            </div>
                          </div>
                        </div>-->
                        
                      </div> 
                      <!-- end of #accordion -->
                      
                      <!--<div class="text-center pt-10">
                        <a href="#" class="btn btn-primary">Show ALl FAQs</a>
                      </div> -->
                      
                    </div>
                    
                </div>