 <footer id="colophon" class="site-footer" role="contentinfo">
            <div id="footer-sidebar" class="footer-widget-area" role="complementary">
                <aside id="nav_menu-3" class="widget  widget--footer  widget_nav_menu">
                    <div class="menu-social-menu-container">
                        <ul id="menu-social-menu" class="menu">
                            <li id="menu-item-761" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-761"><a href="https://www.facebook.com/PixelGradeMedia">Facebook</a></li>
                            <li id="menu-item-762" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-762"><a href="https://twitter.com/pixelgrade">Twitter</a></li>
                            <li id="menu-item-763" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-763"><a href="https://www.youtube.com/user/PixelGradeVideos">Youtube</a></li>
                            <li id="menu-item-766" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-766"><a href="https://www.pinterest.com/pixelgrade/">Pinterest</a></li>
                            <li id="menu-item-769" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-769"><a href="https://vk.com/">Vk</a></li>
                            <li id="menu-item-770" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-770"><a href="https://instagram.com/sir.paco/">Instagram</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="footer-text-area">
                <div class="site-info">
                    <div class="site-copyright-area"> Copyright © 2016 Company Inc.   •  Address   •   Tel: 42-898-4363</div>
                    <ul id="menu-footer-menu" class="footer-menu">
                        <li id="menu-item-993" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-993"><a href="http://themeforest.net/item/listable-a-friendly-directory-wordpress-theme/13398377?ref=pixelgrade">Get the Theme</a></li>
                        <li id="menu-item-994" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-994"><a href="https://pixelgrade.com/demos/listable/permissions-and-copyright/">Contact</a></li>
                    </ul>
                </div>
                <div class="theme-info"> <a href="https://wordpress.org/">Proudly powered by WordPress</a> <span class="sep"> and </span> <a href="http://themeforest.net/item/listable-a-friendly-directory-wordpress-theme/13398377?ref=pixelgrade" rel="theme">Listable</a> by <a href="https://pixelgrade.com/" rel="designer">PixelGrade</a>.</div>
            </div>
        </footer>