html{
  font-family: 'Raleway','Lato',Arial,Helvetica,sans-serif;
}
body {
  font-family: inherit;
}
h1,h2,h3,h4,h5,h6{
  font-family: inherit;
  font-weight: 600;
}
.h1, h1 {
    font-size: 28px;
    color: #2c73b3;
  
}
p.highlights {
	font-weight: 700;
}
.elipsis{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5em;
}
div.blog-category{
	margin-bottom: 10px;
}
span.blog-category{
	margin-right: 10px;
    padding: 5px;
    background-color: #ffea00;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}
h4.blog-title{
	font-family: 'Raleway','Lato',Arial,Helvetica,sans-serif;
	font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
    text-transform: capitalize;
}
.page-title {
    padding: 70px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blog-content h1{
  font-size: 40px;
  font-family: inherit;
  text-transform: capitalize;
}
.blog-title{
  text-transform: capitalize;
  font-size: 32px;
  font-family: inherit;
}
.blog-entry{
    font-family: inherit;
    font-size: 15px;
    text-align: justify;
}
.blog-author {
    padding: 0 0 30px;
    position: relative;
    border-bottom: 0;
    margin-bottom: 40px;
}
.blog-header-img{
  padding: 300px 0;
}
h1.post-title{
 font-size: 3.157em;
 text-transform: capitalize;
  font-family: inherit;
}
div.post-title{
  top:280px;
  text-align: justify;
}
span.sub-head{
  font-family: 'Raleway', 'Lato', Sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}
span.sub-head.user{
  font-weight: 700;
}
.blog-header-img::before{
  background: rgba(0,0,0,0.5);
}
.static-header{
  padding: 150px 0;
   background-position: center top;
}
.no-padding{
  padding: 0;
}
.no-border {
    border: 0;
}
.no-margin {
  margin: 0 !important;
}
h4.description{
  font-size: 16px;
  color: #333;
}
h4.featured-province{
  font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 800;
}
.featured-count .icon {
    padding-top: 25px;
    width: 44px;
    float: left;
    font-size: 47px;
  color: #3498db;
}
a.top-destination-image-bg {
    padding-top: 43%;
}

.top-destination-image-bg::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    content: "";
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
h3{
  font-size: 35px;
  font-weight: 200;
}
.center{
  text-align: center;
}
.featured-text{
  font-size: 45px !important;
}
.why-us-half-image-content {
    padding: 0px 100px;
}
.why-us-half-image-wrapper{
  padding-top:50px;
}
.pt15{
  padding-top:15px;
}
.p50{
  padding:50px;
}
.pb50{
  padding-bottom:50px;
}
.ptb50{
  padding-top:25px;
  padding-bottom: 50px;
}
.pt100{
  padding-top:100px;
}
.hero p.lead{
  font-size: 20px;
}
.blog-article{
  padding:30px !important;
}
.blog-article-main{
  height: auto !important;
}
.form-control {
    height: 56px;
}
.attraction {
    padding: 20px 0px 10px 15px;
    position: relative;
    text-align: center;
}
.attraction .title{
  color: #3498db;
  font-weight: 400;
  text-transform: capitalize;
}
.attraction-title{
     font-size: 25px;
    font-weight: 400;
  text-transform: uppercase;
}
.attraction-subtitle {
     font-size: 15px;
    font-weight: 200;
  text-transform: capitalize;
}
.badge.confirm{
    background-color: #27ae60;
    font-size: 14px;
}
.badge.pending{
    background-color: #f39c12;
    font-size: 14px;
}
.badge.declined{
    background-color: #c0392b;
    font-size: 14px;
}
.payment-container {
    margin-left: 0 !important;
}
.description{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
small.description{
   width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description
  p:last-child{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-np{
  padding-top: 25px;
    width: 44px;
    float: left;
    font-size: 47px;
    color: #3498db;
}
.margin10{
  margin: 10px;
}
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
blockquote{
  padding: 20px;
}
.row.partners{
  padding: 5px 0px 35px 0px;
}
.featured-icon-static {
  font-size: 100px;
  width: 100%;
}
.pt15{
 padding-top 5px;
  font-size: 14px;
    line-height: 1.6;
}
h3.description.title{
  color: black;
  font-weight: 700;
  font-size: 24px;
}
p.hero-title.static{
    font-size: 26px;
}
h1.hero-title.static{
  text-transform: uppercase;
  font-size: 38px;
}
.partner-image-item
img {
  width: 200px;
  height: 100px;
  padding: 10px;
}
.page-title.static::before {
    position: absolute;
    background: rgba(0,0,0,0);
}
.dataTables_filter
input{
  height: 25px;
}
#example
td.id{
  text-transform: uppercase;
}
.payment-box {
    margin: 0 0 10px;
    padding-bottom: 15px;
}
.team-item .image {
    width: 300px;
    margin: 0 auto;
}
div.booking{
  margin:15px 0;
}
.btn-booking {
    background: #52B545;
    border-color: #52B545;
}
.btn-booking.focus, .btn-booking:focus, .btn-booking:hover {
    background: #358D44;
    border-color: #358D44;
}
a.booking-cta{
  font-size: 13px;
}
td.day{
  background-color:#27ae60;
  color: white;
}
td.day:hover{
  background-color:#52B545;
  color: black;
}
td.day.new{
  background-color:#27ae60;
  color: white !important;
}
.bootstrap-datetimepicker-widget table td.disabled{
  background-color: #ecf0f1;
  color: #777 !important;
}
.bootstrap-datetimepicker-widget table td.new.disabled{
  background-color: #ecf0f1;
  color: #777 !important;
}
.bootstrap-datetimepicker-widget table td.day:hover{
    background: #3498db;
    color: white;
}
.bootstrap-datetimepicker-widget table td.active{
   background-color: #2980b9;
}
.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
    color: white;
}
.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  /*text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #e74c3c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74c3c), to(#c0392b));
  background-image: -webkit-linear-gradient(top, #e74c3c, #c0392b);
  background-image:    -moz-linear-gradient(top, #e74c3c, #c0392b);
  background-image:     -ms-linear-gradient(top, #e74c3c, #c0392b);
  background-image:      -o-linear-gradient(top, #e74c3c, #c0392b);
  color: white;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
.page-title.detail-page-title .meta span{
  font-size:22px;
}
.no-padding-r-l{
  padding-right:0px;
  padding-left:0px;
}
.text-hero-home{
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.text-hero-home
a {
  color: #bdc3c7;
}
.text-hero-home
a:hover{
  color: #ecf0f1;
}
.bootstrap-datetimepicker-widget table td.today{
    background-color: #ecf0f1;
    color: #777!important;
}
.nav-tabs>li>a{
	font-size: 15px;
}
article.description-language{
	padding-top: 15px;
	text-align: justify;
	white-space: initial;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

.bootstrap-datetimepicker-widget.dropdown-menu{
	z-index: 99999;
}
 section, .section { padding: 5px 0; background: #FFF; }
.container-fluid.featured-tours {
  padding: 0px 6%;
 }
 .destination_container {
    text-align: center;
    height: 250px;
    border-radius: 5%;
    margin: 4% 0;
}
h2.destination{
  font-size: 23px;
    font-weight: 800;
    color:white; 
    text-transform: uppercase; 
}
.destination_container > h3, h2 {
    position: relative;
    top: calc(49% - 10px);
    color: white; 
}
.package-grid-item a h5, .package-grid-item a h6{
  font-weight: 600;
}
ul.availabily-list li.availabily-content>div.date-from:after{
  display: none;
}
.duration{
      padding: 5px 15px 0px;
}
.duration span{
    background: transparent; 
    color: #484848;
    padding: 0;
    line-height: 1.6;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
}
.padding-bottom-5{
  padding-bottom: 5px;
}
span.price{
      font-size: 2em !important;
    color: #484848;
    font-weight: 500;
    font-family: 'Montserrat', 'Raleway', sans-serif}
.package-grid-item a h5, .package-grid-item a h6{
  margin-bottom: 5px;
}
.tour-details span{
  font-size: 15px;
}
.tour-details i.fa{
  color:#3498db;
}
h5.subtitle{
  color: black;
  font-weight: 400;
}
.tour-details div{
  padding: 0;
}
.package-grid-item .absolute-in-image .price {
    background:#FF696A;  /* 70% opaque red */  ;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 3px;
    line-height: 1;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
}
.package-grid-item{
  -webkit-box-shadow: 0 7px 10px -1px rgba(0,0,0,.16);
  -moz-box-shadow: 0 7px 10px -1px rgba(0,0,0,.16);
  box-shadow: 0 7px 10px -1px rgba(0,0,0,.16);
}
.duration span.pax{
  float: right;
  font-family: 'Montserrat', 'Ralewaty', sans-serif;
  text-transform: none;}
.duration span.pax i{
  color: #3498db;
}
h1.tourTitle{
      margin-bottom: 0;
    margin-top: 35px;
}
a.tourlink{
  text-decoration: underline;
  font-size: 17px;
  font-weight:100; 
  color:black;
}
.pagination>li>a, .pagination>li>span{
    padding: 0;
    margin: 0 6px;
    border: 0;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', 'Raleway', sans-serif;
}