p.highlights {
	font-weight: 700;
}
.elipsis{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5em;
}
div.blog-category{
	margin-bottom: 10px;
}
span.blog-category{
	margin-right: 10px;
    padding: 5px;
    background-color: #ffea00;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}
h4.blog-title{
	font-family: 'Montserrat', 'Lato', sans-serif;
	font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    text-transform: capitalize;
}
.page-title {
    padding: 200px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255,255,255,.5);
    position: relative;
}
.blog-content h1{
  font-size: 40px;
  font-family: inherit;
  text-transform: capitalize;
}
h1.hero-title{
  text-transform: capitalize;
}