<div class="property_header_wrapper col-md-8">
        <div class="category_wrapper ">
          <div class="category_details_wrapper">
            <a href="http://wprentals.org/action/entire-home/" rel="tag">Sal칩n de Belleza</a> <span class="property_header_separator">|</span>
            <a href="http://wprentals.org/listings/villa/" rel="tag">Cabello</a> <span class="property_header_separator">|</span> 
            <span class="no_link_details">U침as</span> <span class="property_header_separator">|</span>
            <span class="no_link_details">Maquillaje</span><span class="property_header_separator">|</span>
            <span class="no_link_details">Depilaci칩n</span>
          </div>
          <a href="#listing_calendar" class="check_avalability">Ver Disponibilidad</a>
        </div>
        <div id="listing_description">
          <h4 class="panel-title-description">Descripci칩n</h4>
            <div class="panel-body" style="max-height : 100%;">
             {{{data.tour.description.extended}}}
            </div>
          </div>
        <div id="view_more_desc">View more</div>
      </div>