<div class="property_header_wrapper col-md-8">
        <div class="category_wrapper ">
          <div class="category_details_wrapper">
            <a href="http://wprentals.org/action/entire-home/" rel="tag">Sal칩n de Belleza</a> <span class="property_header_separator">|</span>
            <a href="http://wprentals.org/listings/villa/" rel="tag">Cabello</a> <span class="property_header_separator">|</span> 
            <span class="no_link_details">U침as</span> <span class="property_header_separator">|</span>
            <span class="no_link_details">Maquillaje</span><span class="property_header_separator">|</span>
            <span class="no_link_details">Depilaci칩n</span>
          </div>
          <a href="#listing_calendar" class="check_avalability">Ver Disponibilidad</a>
        </div>
        <div id="listing_description">
          <h4 class="panel-title-description">Descripci칩n</h4>
            <div class="panel-body" style="max-height : 100%;">
              Enjoy a huge bedroom in a newly renovated 1000 sq feet, 3 bedroom, apartment with all the amenities. It has a fully functional kitchen with cookware and a bathroom with all the essentials and a dryer.
              The apartment is located right in the middle of all the most convenient, vibrant, and fun neighborhoods in NYC.
              <p>In the England and Wales, some flat owners own shares in the company that owns the of the building as well as holding the flat under a lease. This is commonly known as a &#8220;share of freehold&#8221; flat. The freehold company has the right to collect annual ground rents from each of the flat owners in the building. The freeholder can also develop or sell the building, subject to the usual planning and restrictions that might apply.</p>
            </div>
          </div>
        <div id="view_more_desc">View more</div>
      </div>