
<div class="panel-wrapper imagebody_wrapper">
  <div class="panel-body imagebody imagebody_new">
    <div id="selector1">
        {{# each data.tour.images}}
      <div class="item col-md-4 image-thumb" data-src="{{url}}">
        <div class="img_listings_overlay"></div>
        <img src="{{url}}" />
    </div>
     {{/each}}
  </div>
    </div>
    </div>
<script type="text/javascript">
    $('#selector1').lightGallery({
      selector: '.item',
      thumbnail:true,
      download: false
    });
</script>