<div class="google_map_on_list_wrapper">    
    <div id="gmapzoomplus"></div>
    <div id="gmapzoomminus"></div>
    <div id="gmapstreet"></div>
    <div id="google_map_on_list" data-cur_lat="40.7185382" data-cur_long="-73.9833874" data-post_id="137"></div>
  </div> 