<div class="owner-page-wrapper">
    <div class="owner-wrapper  content-fixed-listing row" id="listing_owner">      
      <div class="col-md-2 agentpic-wrapper">
        <div class="owner_listing_image " style="background-image: url('http://wprentals.org/wp-content/uploads/2015/06/590_429_profile_2-150x150.jpg');"></div>
      </div>
      <div class="col-md-10 agentpic-wrapper">
        <h3>Maria &amp; Jill</h3>
        <p>Born and raised in the Bronx. We lived in NY our whole lives. We love living in the heart of the city and enjoy sharing this experience with others. Love our neighborhood, wish to help travelers just like myself used to be to experience the Big Apple.</p>
        <p>We work in Digital &amp; Global Ecommerce Strategy in New York City and love experiencing all the great things this city has to offer, from it’s delicious and innovative restaurants and great museums, to walking home from work along the high-line.</p>
        <a class="owner_read_more " href="http://wprentals.org/owners/mariademo/">See Owner Profile</a>   
        <div id="contact_me_long" class=" owner_read_more " data-postid="137" >Contact Owner</div>
      </div>
    </div>
  </div>