<div class="owner-page-wrapper">
    <div class="owner-wrapper  content-fixed-listing row" id="listing_owner">      
      <div class="col-md-2 agentpic-wrapper">
        <div class="owner_listing_image " style="background-image: url('{{data.tour.owner.picture.url}}');"></div>
      </div>
      <div class="col-md-10 agentpic-wrapper">
        <h3>{{data.tour.owner.name.first}} {{data.tour.owner.name.last}}</h3>
        <p>{{data.tour.owner.description}} </p>
        <a class="owner_read_more " href="http://triptableapp.com/owners/mariademo/">See Owner Profile</a>   
        <div id="contact_me_long" class=" owner_read_more " data-postid="137" >Contact Owner</div>
      </div>
    </div>
  </div>