<div class="property_page_container for_reviews">
    <div class="listing_reviews_wrapper">
      <div class="listing_reviews_container">
        <h3 id="listing_reviews" class="panel-title">1 Reviews<span class="property_ratings">
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
        </h3>
        <div class="listing-review">
          <div class="col-md-8 review-list-content norightpadding">
            <div class="reviewer_image"  style="background-image: url(http://wprentals.org/wp-content/uploads/2015/06/590_429_profile4-150x150.jpg);"></div>                
            <div class="reviwer-name">Michael Douglas</div>                    
            <div class="review-date">Posted on  10 October 2015</div>                          
            <div class="property_ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <span class="ratings-star">(3 of 5)</span> 
            </div>
            <div class="review-content">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</div>
          </div>
        </div>          
      </div>
    </div>
  </div>