<div class="similar_listings_wrapper">
    <div class="similar_listings">
      <h3 class="agent_listings_title_similar" >Similar Listings</h3>   
      <div class="listing_wrapper col-md-4  property_unit_v2 property_flex " data-org="3" data-listid="141" > 
        <div class="property_listing " data-link="http://wprentals.org/properties/modern-spacious-villa/">
          <div class="listing-unit-img-wrapper">
            <div class="cross"></div>
              <a href="http://wprentals.org/properties/modern-spacious-villa/"><img src="http://wprentals.org/wp-content/uploads/2015/04/demo99-400x314.jpg" class="b-lazy img-responsive wp-post-image lazy-hidden" alt="no thumb" /></a> 
          </div>
          <div class="title-container">
            <div class="price_unit_wrapper">
              <div class="price_unit">$ 159 </div> 
            </div>        
            <a href="http://wprentals.org/owners/michaeldemo/" class="owner_thumb" style="background-image: url('http://wprentals.org/wp-content/uploads/2015/06/590_429_profile4-60x60.jpg')"></a> 
            <div class="category_name">
              <a href="http://wprentals.org/properties/modern-spacious-villa/" class="listing_title_unit">Modern & Spacious Villa...</a>
              <div class="category_tagline">
                <img src="http://wprentals.org/wp-content/themes/wprentals/img/unit_pin.png"  alt="location">
                <a href="http://wprentals.org/area/east-side/" rel="tag">East Side</a>, <a href="http://wprentals.org/city/new-york/" rel="tag">New York</a>
              </div>           
              <div class="category_tagline">
                <img src="http://wprentals.org/wp-content/themes/wprentals/img/unit_category.png"  alt="location">
                  <a href="http://wprentals.org/listings/villa/" rel="tag">Villa</a> / <a href="http://wprentals.org/action/entire-home/" rel="tag">Entire home</a>
              </div>
            </div>             
            <div class="property_unit_action">
              <span class="icon-fav icon-fav-off" data-original-title="add to favorites" data-postid="141"><i class="fa fa-heart"></i></span>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </div>