<div class="section partner-wrapper bg-primary">

					<div class="container">

						<div class="row">

							<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

								<div class="section-title">

									<h4>Destacado En</h4>

								</div>

							</div>

						</div>

						<div class="partner-image-item">

							<a href="http://impresa.prensa.com/vivir/Turismo-innovacion_0_4228827224.html" target="_blank"><img src="https://res.cloudinary.com/triptable/image/upload/w_300,h_150,c_fill,g_auto/v1467681562/laprensa-01_fa7elp.png" alt="partner"></a>
							<a href="http://www.martesfinanciero.com/history/2016/06/14/emprendedores.asp" target="_blank" alt="partner"><img src="https://res.cloudinary.com/triptable/image/upload/w_500,h_200,c_fill,g_auto/v1467681562/MF-01_ntefej.png" alt="partner"></a>
							<a href="http://laestrella.com.pa/vida-de-hoy/tecnologia/auxilio-turistas-latinoamerica/23869840" target="_blank"><img src="https://res.cloudinary.com/triptable/image/upload/w_350,h_150,c_fill,g_auto/v1467681562/Estrella-01_owgho9.png" alt="partner"></a>
							<a href="http://pulsosocial.com/2015/05/25/los-semifinalistas-latinoamericanos-en-la-gist-tech-idea-competition-en-estados-unidos/" target="_blank"><img src="https://res.cloudinary.com/triptable/image/upload/w_400,h_150,c_fill,g_auto/v1467681562/logopulso-01_zwrmnq.png" alt="partner"></a>

						</div>

					</div>

				</div>