<div class="container">
<div class="about-us-grid-block GridLex-gap-20-wrappper">

							<div class="GridLex-grid-noGutter-equalHeight gap-20">

								<div class="GridLex-col-6_xs-12">
									<div class="about-us-grid-block-item mb-20">
										<h4 class="heading mt-0 text-white">Visibilidad</h4>
										<p>Los tours de nuestros proveedores asociados son promovidos constantemente en nuestras redes sociales a través de publicidad digital. Deja que te llevemos los clientes mientras tu te encargas de tu negocio.</p>
									</div>
								</div>

								<div class="GridLex-col-3_xs-12">
									<div class="image-bg mb-20" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_198,w_297/v1461641257/zzlxcvsa6sdz9uzdtcji.jpg');"></div>
								</div>

								<div class="GridLex-col-3_xs-12">
									<div class="image-bg mb-20" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_198,w_297/v1460943360/hb539j1r9tw3a35trmvy.jpg');"></div>
								</div>

							</div>

							<div class="GridLex-grid-noGutter-equalHeight gap-20">

								<div class="GridLex-col-3_xs-12">
									<div class="image-bg mb-20" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_417,w_833/h9vht393du9o6fnswcjz.jpg');"></div>
								</div>

								<div class="GridLex-col-6_xs-12">
									<div class="about-us-grid-block-item mb-20">
										<h4 class="heading mt-0 text-white">Vende Online de Forma Segura</h4>
										<p>Las transferencias bancarias internacionales son cosa del pasado. Lleva tu negocio de tours al siguiente nivel vendiendo online a través de nosotros sin que te cueste una fortuna y sin necesidad de conocimientos técnicos.</p>
									</div>
								</div>

								<div class="GridLex-col-3_xs-12 mb-20">
									<div class="image-bg" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_417,w_833/ugi689v6vrim3abo1t1f.jpg');"></div>
								</div>

							</div>

							<div class="GridLex-grid-noGutter-equalHeight gap-20">

								<div class="GridLex-col-3_xs-12 mb-20">
									<div class="image-bg" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_417,w_833/ctzho73dcwigihmeckgx.jpg');"></div>
								</div>

								<div class="GridLex-col-3_xs-12 mb-20">
									<div class="image-bg" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_417,w_833/y0547r9gag6jomdrq1ns.jpg');"></div>
								</div>

								<div class="GridLex-col-6_xs-12">
									<div class="about-us-grid-block-item mb-20">
										<h4 class="heading mt-0 text-white">Soporte</h4>
										<p>Tenemos un equipo dedicado a ayudarte y las herramientas para que aumentes tus reservas en línea a través de nosotros.</p>
									</div>
								</div>

							</div>

						</div>
            </div>