<div class="container">
<div class="about-us-grid-block GridLex-gap-20-wrappper">

							<div class="GridLex-grid-noGutter-equalHeight gap-20">

								<div class="GridLex-col-6_xs-12">
									<div class="about-us-grid-block-item mb-20">
										<h4 class="heading mt-0 text-white">Visibilidad</h4>
										<p>Los tours de nuestros proveedores asociados son promovidos constantemente en nuestras redes sociales a través de publicidad digital. Deja que te llevemos los clientes mientras tu te encargas de tu negocio.</p>
									</div>
								</div>

								<div class="GridLex-col-3_xs-12">
									<div class="image-bg mb-20" style="background-image:url('http://res.cloudinary.com/triptable/image/upload/c_scale,q_80,w_500/v1502131620/2Q4A0071.jpg');"></div>
								</div>

								<div class="GridLex-col-3_xs-12">
									<div class="image-bg mb-20" style="background-image:url('http://res.cloudinary.com/triptable/image/upload/c_scale,q_80,w_500/v1502131620/nyidv5yulxmv3gndmzoj.jpg');"></div>
								</div>

							</div>

							<div class="GridLex-grid-noGutter-equalHeight gap-20">

								<div class="GridLex-col-3_xs-12">
									<div class="image-bg mb-20" style="background-image:url('http://res.cloudinary.com/triptable/image/upload/c_scale,q_80,w_500/v1502131620/IMG_8652.jpg');"></div>
								</div>

								<div class="GridLex-col-6_xs-12">
									<div class="about-us-grid-block-item mb-20">
										<h4 class="heading mt-0 text-white">Vende Online de Forma Segura</h4>
										<p>Las transferencias bancarias internacionales son cosa del pasado. Lleva tu negocio de tours al siguiente nivel vendiendo online a través de nosotros sin que te cueste una fortuna y sin necesidad de conocimientos técnicos.</p>
									</div>
								</div>

								<div class="GridLex-col-3_xs-12 mb-20">
									<div class="image-bg" style="background-image:url('http://res.cloudinary.com/triptable/image/upload/c_scale,q_80,w_500/v1502131620/2Q4A0149.jpg');"></div>
								</div>

							</div>

							<div class="GridLex-grid-noGutter-equalHeight gap-20">

								<div class="GridLex-col-3_xs-12 mb-20">
									<div class="image-bg" style="background-image:url('http://res.cloudinary.com/triptable/image/upload/c_scale,q_80,w_500/v1502131620/lonpnjbt6r4nefycnrl0.jpg');"></div>
								</div>

								<div class="GridLex-col-3_xs-12 mb-20">
									<div class="image-bg" style="background-image:url('http://res.cloudinary.com/triptable/image/upload/c_scale,q_80,w_500/v1502131620/nwuzazprw0pjb8hhbcit.jpg');"></div>
								</div>

								<div class="GridLex-col-6_xs-12">
									<div class="about-us-grid-block-item mb-20">
										<h4 class="heading mt-0 text-white">Soporte</h4>
										<p>Tenemos un equipo dedicado a ayudarte y las herramientas para que aumentes tus reservas en línea a través de nosotros.</p>
									</div>
								</div>

							</div>

						</div>
            </div>