<!-- Recent Blog Posts -->
<section class="fullwidth border-top margin-top-0 padding-top-45 padding-bottom-30" data-background-color="#fff">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					{{i18n "from_the_blog"}}
				</h3>
			</div>
		</div>

		<div class="row">
			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="https://blog.triptable.com/3-lugares-ecoturismo-panama-city/" target="_blank "class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img "https://i2.wp.com/blog.triptable.com/wp-content/uploads/2018/01/cascoan1_1.jpg?w=1400&ssl=1" alt="">
						<!--<span class="blog-item-tag">Blog</span> -->
						<div class="blog-compact-item-content">
						<!--	<ul class="blog-post-tags">
								<li>11 Sep 2017</li>
							</ul> -->
							<h3>¿Qué hacer en el Casco Viejo de Ciudad de Panamá?</h3>
					<!--		<p>Aumenta tus ventas utilizando</p> -->
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="https://i1.wp.com/blog.triptable.com/wp-content/uploads/2017/09/2Q4A0017.jpg" alt="">
						<span class="blog-item-tag">Tips</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>18 August 2017</li>
							</ul>
							<h3>BAR HOPPING EN EL CASCO ANTIGUO POR SOY DEL CASCO NIGHT TOUR</h3>
							<p>Soy del Casco Night Tour es un bar hopping dónde visitas 7 bares y recibes un trago de bienvenida. El mejor tour de vida nocturna en Casco Viejo.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="https://i1.wp.com/blog.triptable.com/wp-content/uploads/2017/09/zonas-de-fiesta-y-activa-vida-nocturna-imagen-1600x1064.jpeg" alt="">
						<span class="blog-item-tag">Tips</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>10 August 2017</li>
							</ul>
							<h3>5 OPCIONES PARA DESCUBRIR LA VIDA NOCTURNA DE BOGOTÁ</h3>
							<p>En Bogotá la oferta nocturna puede ser muy alegre y ruidosa o relajada y romántica dependiendo de lo que busques.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<div class="col-md-12 centered-content">
				<a href="pages-blog.html" class="button border margin-top-10">View Blog</a>
			</div>

		</div>

	</div>
</section>
<!-- Recent Blog Posts / End -->

