<!-- Info Section -->
<div class="container padding-bottom-30">

	<!--<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				¿Cómo Funciona?
				<span class="margin-top-15">Te ayudamos a descubrir y reservar en línea tours y actividades con guías locales certificados en Panamá, México y Colombia.</span>
			</h2>
		</div>
	</div> -->

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Map2"></i>
				<h3>Escoge tu País</h3>
				<p>Elige el destino a dónde viajas y descubre cientos de cosas que hacer durante tu viaje.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Mail-withAtSign"></i>
				<h3>Realiza una Reserva</h3>
				<p>Reserva en 3 simples pasos sin estrés y elige lo que necesites para tu viaje.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Checked-User"></i>
				<h3>Confirmación Inmediata</h3>
				<p>Al enviar una reserva, el operador del tour se encargará de contactarte y ultimar detalles.</p>
			</div>
		</div>
	</div>

</div>
<!-- Info Section / End -->