<section class="fullwidth margin-top-0 padding-top-30 padding-bottom-70" data-background-color="#f8f8f8">
<!-- Listings -->
<div class="container-fluid margin-top-30">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-0">
				Most Visited Places
				<span>Discover top-rated local businesses</span>
			</h3>
		</div>

		<div class="col-md-12">
			<div class="img-fw-slick-carousel dots-nav">

			
			<!-- Listing Item -->

			<div class="fw-carousel-item">
				<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-01.jpg">
					<div class="img-box-content visible">
						<h4>New York </h4>
						<span>14 Listings</span>
					</div>
				</a>
			</div>
			<!-- Listing Item / End -->		
			<div class="fw-carousel-item">

				<!-- Image Box -->
				<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-02.jpg">
					<div class="img-box-content visible">
						<h4>Los Angeles</h4>
						<span>24 Listings</span>
					</div>
				</a>

			</div>	

		<div class="fw-carousel-item">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-03.jpg">
				<div class="img-box-content visible">
					<h4>San Francisco </h4>
					<span>12 Listings</span>
				</div>
			</a>

		</div>	
			
		<div class="fw-carousel-item">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-04.jpg">
				<div class="img-box-content visible">
					<h4>Miami</h4>
					<span>9 Listings</span>
				</div>
			</a>

		</div>
		<div class="fw-carousel-item">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-04.jpg">
				<div class="img-box-content visible">
					<h4>CDMX</h4>
					<span>9 Listings</span>
				</div>
			</a>

		</div>
		<div class="fw-carousel-item">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-04.jpg">
				<div class="img-box-content visible">
					<h4>Bogota</h4>
					<span>9 Listings</span>
				</div>
			</a>

		</div>


			
			</div>
			
		</div>

	</div>
</div>
<!-- Listings / End -->
</section>