<section class="fullwidth border-top margin-top-0 margin-bottom-0 padding-top-45 padding-bottom-65" data-background-color="#ffffff">
	<!-- Logo Carousel -->
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-40 margin-top-10">{{i18n "media_section_title"}} <span>{{i18n "media_section_subtitle"}}</span></h3>
			</div>
			
			<!-- Carousel -->
			<div class="col-md-12">
				<div class="logo-slick-carousel dot-navigation">
					
					<div class="item">
						<a target="_blank" href="https://triptable.tours/2qkH95F"><img src="images/logo-01.png" alt=""></a>
					</div>
					
					<div class="item">
						<a target="_blank" href="http://triptable.tours/2pA3YVF"><img src="images/logo-02.png" alt=""></a>
					</div>
					
					<div class="item">
						<a target="_blank" href="https://triptable.tours/GentequeInspira"><img src="images/logo-03.png" alt=""></a>
					</div>
					
					<div class="item">
						<a target="_blank" href="http://triptable.tours/telemtro"><img src="images/logo-04.png" alt=""></a>
					</div>
					
					<div class="item">
						<a target="_blank" href="http://triptable.tours/2qkNdLi"><img src="images/logo-05.png" alt=""></a>
					</div>		
				</div>
			</div>
			<!-- Carousel / End -->

		</div>
	</div>
	<!-- Logo Carousel / End -->
</section>