<section class="fullwidth margin-top-0 padding-top-0 padding-bottom-0">
<!-- Parallax -->
<div class="parallax"
	data-background="images/parallax.jpg"
	data-color="#36383e"
	data-color-opacity="0.6"
	data-img-width="800"
	data-img-height="505">

	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-sm-8">
					<h2>{{i18n "parallax_title"}}</h2>
					<p>{{i18n "parallax_subtitle"}}</p>
				<!--	<a href="listings-list-with-sidebar.html" class="button margin-top-25">{{i18n "know_more"}}</a>-->
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<!-- Parallax / End -->
</section>