<!-- Fullwidth Section -->
<section class="fullwidth margin-top-0 padding-top-30 padding-bottom-70">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-15">
					Tours en Colombia
					<span>Descubre los tours y planes más reservados</span>
				</h3>
			</div>
		</div>
	</div>

	<!-- Carousel / Start -->
	<div class="simple-fw-slick-carousel dots-nav">
		{{#each toursColombia.results }}
		{{>home/_single-tour-item}}
		{{/each}}
	</div>
	<!-- Carousel / End -->
	<div class="col-md-12 centered-content">
				<a href="/colombia" class="button border margin-top-10">Ver Todos los Tours en Colombia</a>
	</div>

</section>
<!-- Fullwidth Section / End -->