{{>static/_titlebar}}
{{>static/_menu}}
<div class="container">
	<div class="row">
	<div class="col-md-6">
			<h4 class="headline margin-top-70 margin-bottom-30">PREGUNTAS GENERALES</h4>

			<!-- Toggles Container -->
			<div class="style-2">

				<!-- Toggle 1 -->
				<div class="toggle-wrap active">
					<span class="trigger"><a href="#"><i class="sl sl-icon-question"></i>¿Qué es Triptable?<i class="sl sl-icon-plus"></i></a></span>
					<div class="toggle-container" style="display: block;">
						<p>Triptable es una plataforma tecnológica que conecta viajeros con guías locales y operadores de turismo. Somos una alternativa la tradicional oferta de tours y actividades donde puedes conectar directamente con el guía u operador del tour. No somos una agencia de viajes ni un tour operador.</p>
					</div>
				</div>

				<!-- Toggle 2 -->
				<div class="toggle-wrap">
					<span class="trigger"><a href="#"><i class="sl sl-icon-question"></i>¿Cómo Reservo un Tour?<i class="sl sl-icon-plus"></i> </a></span>
					<div class="toggle-container" style="display: block;">
						<p>Al momento de elegir un tour, puedes hacer click en el botón que dice "Reservar ahora", el sistema te pedirá que inicies sesión o puedes crear una cuenta. Luego de esto, podrás seleccionar la fecha en que deseas el tour, introducir tus datos personales y tu información de pago.</p>
					</div>
				</div>

					<!-- Toggle 2 -->
				<div class="toggle-wrap">
					<span class="trigger"><a href="#"><i class="sl sl-icon-question"></i>¿Cómo verifico disponibilidad del Tour?<i class="sl sl-icon-plus"></i> </a></span>
					<div class="toggle-container" style="display: block;">
						<p>Cuando está reservando, la plataforma le permitirá seleccionar una fecha y le indicará si el tour está disponible en la fecha seleecionada. Si no hay espacio para esa fecha, Triptable no le permitirá escoger ese día. Luego de reservar e introducir su información pago, le confirmaremos la disponibilidad vía correo electrónico.</p>
					</div>
				</div>

					<!-- Toggle 2 -->
				<div class="toggle-wrap">
					<span class="trigger"><a href="#"><i class="sl sl-icon-question"></i>¿Qué sucede al reservar?<i class="sl sl-icon-plus"></i> </a></span>
					<div class="toggle-container" style="display: block;">
						<p>Luego de reservar, recibirá un correo con la información introducida en la solicitud de reserva. En este punto ya le hemos notificado al guía u operador del tour asignado que usted ha reservado y le hemos enviado su información. El operador del tour validará está información y confirmará su reserva. En el e-mail de confirmación de su reserva, usted recibirá los datos de contacto del operador del tour y podrá hablar directamente con él en caso de necesitar información adicional del tour que acaba de reservar.</p>
					</div>
				</div>

			</div>
			<!-- Toggles Container / End -->
		</div>

		<div class="col-md-6">
			<h4 class="headline margin-top-70 margin-bottom-30">RESERVACIONES</h4>

			<!-- Toggles Container -->
			<div class="style-2">

				<!-- Toggle 1 -->
				<div class="toggle-wrap active">
					<span class="trigger"><a href="#"><i class="sl sl-icon-question"></i>¿Cual es el tiempo mínimo para realizar una reserva?<i class="sl sl-icon-plus"></i></a></span>
					<div class="toggle-container" style="display: block;">
						<p>El tiempo mínimo para realizar una reserva va a depender del tour que esté adquiriendo. Usted podrá reservar algunos tours desde 1 día antes de la salida del mismo, pero algunos requeriran que haga la reserva con al menos 3 días de antemano por motivos logísticos.</p>
					</div>
				</div>

				<!-- Toggle 2 -->
				<div class="toggle-wrap">
					<span class="trigger"><a href="#"><i class="sl sl-icon-question"></i>¿Cúal es el tiempo mínimo de reserva?<i class="sl sl-icon-plus"></i> </a></span>
					<div class="toggle-container" style="display: block;">
						<p>Si desea reservar un tour para el día siguiente, la hora máxima para hacer su reserva es a las 6:59 P.M. (Hora de Panamá -5 GMT).</p>
					</div>
				</div>

				

			</div>
			<!-- Toggles Container / End -->
		</div>
	</div>	
</div>	

<script>
	$ (document).ready(function(){
		$('#faq').addClass('current');
	});
</script>