<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Acerca de Nosotros</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Elements</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <nav id="navigation" class="style-1">
					<ul id="">

						<li><a href="#" class="current">About Us</a>
						
						</li>

						<li><a href="#">FAQ</a>
							
						</li>

						<li><a href="#">Privacy Policy</a>
						
						</li>

						<li><a href="#" >Contact Us</a>
							
						</li>
            <li><a href="#" >List a Tour</a>
							
						</li>
						
					</ul>
				</nav>
    </div>
  </div>
   <div class="row">
		<div class="col-md-12">
		<!-- Headline -->
		<div class="col-md-12">
      <h1 class="text-center margin-bottom-30 margin-top-30">About Triptable</h1>
    </div>
		<p><strong>Lfe it's about experiences. Period.</p>

		</div>
	</div>
  <div class="row margin-bottom-60 margin-top-30">
    <div class="col-md-12">
      <h2 class="text-center">Meet Our Team</h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 col-sm-4 padding-top-20 padding-bottom-20">
      <div class="text-center"><img class="team-avatar" src="https://res.cloudinary.com/triptable/image/upload/w_250,h_250,g_face,e_grayscale,c_fill,q_auto,f_auto/v1462660313/12244425_10153737963636917_2019038422203593264_o_aov2yu.jpg" alt=""><p class="text-center">Ytzvan Mastino<br>Co-Founder / CEO <br>
        <a target="_blank" href="http://fb.me/triptable"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://twitter.com/triptable_es"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/9260297/"><i class="fa fa-linkedin"></i></a>
      </p></div>
    </div>
    <div class="col-md-2 col-sm-4 padding-top-20 padding-bottom-20">
      <div class="text-center"><img class="team-avatar" src="https://res.cloudinary.com/triptable/image/upload/w_250,h_250,g_face,e_grayscale,c_fill,q_auto,f_auto/v1462660309/14429_314588675402105_8389389121068237589_n_axqh7i.jpg" alt=""><p class="text-center">Moises Muñoz<br>Co-Founder / COO<br>
        <a target="_blank" href="http://fb.me/triptable"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://twitter.com/triptable_es"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/9260297/"><i class="fa fa-linkedin"></i></a></p></div>
    </div>
    <div class="col-md-2 col-sm-4 padding-top-20 padding-bottom-20">
      <div class="text-center"><img class="team-avatar" src="https://res.cloudinary.com/triptable/image/upload/e_grayscale,c_scale,h_250,w_250/v1502168733/moises.jpg" alt=""><p class="text-center">Moises Vega<br>Business Advisor<br>
      <a target="_blank" href="http://fb.me/triptable"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://twitter.com/triptable_es"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/9260297/"><i class="fa fa-linkedin"></i></a></p></div>
    </div>
    <div class="col-md-2 col-sm-4 padding-top-20 padding-bottom-20">
      <div class="text-center"><img class="team-avatar" src="https://res.cloudinary.com/triptable/image/upload/e_grayscale,h_250,w_250/v1502167539/Captura_de_pantalla_2017-08-07_a_las_11.45.09_p.m..jpg" alt=""><p class="text-center">Amanda Fernández<br>Operations<br>
      <a target="_blank" href="http://fb.me/triptable"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://twitter.com/triptable_es"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/9260297/"><i class="fa fa-linkedin"></i></a></p></div>
    </div>
    <div class="col-md-2 col-sm-4 padding-top-20 padding-bottom-20">
      <div class="text-center"><img class="team-avatar" src="https://res.cloudinary.com/triptable/image/upload/w_250,h_250,e_grayscale/v1502167156/lia.jpg" alt=""><p class="text-center">Lia Hernández<br>Legal Advisor<br>
      <a target="_blank" href="http://fb.me/triptable"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://twitter.com/triptable_es"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/9260297/"><i class="fa fa-linkedin"></i></a></p></div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="clearfix"></div>
 
</div>