{{>static/_titlebar}}
{{>static/_menu}}

<div class="container">
   <div class="row">
		<div class="col-md-12">
		<!-- Headline -->
		<div class="col-md-12">
      <h1 class="text-center margin-bottom-30 margin-top-30">{{i18n "about"}} Triptable</h1>
    </div>
		<p class="font15">La vida se trata de experiencias. Creemos que vale más coleccionar experiencias a coleccinar cosas, pero en Latinoamérica puede ser muy difícil encontrar esa experiencia ideal y reservarla en línea. </p>
<p class="font15 mb-30">Queremos cambiar eso. Seleccionamos cuidadosamente los mejores tours, actividades y excursiones para que obtengas una experiencia única, te las presentamos en base a tus interesés y te permitimos que las reserves de una manera rápida y fácil desde tu computadora, tablet o teléfono inteligente. Nos enfocamos en que disfrutes al máximo tus viajes, no a que te estreses a lo largo del camino.</p>
		</div>
	</div>
  <div class="row margin-bottom-60 margin-top-30">
    <div class="col-md-12">
      <h2 class="text-center">{{i18n "meet_our_team"}}</h2>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-6 padding-top-20 padding-bottom-20"></div>

    <div class="col-md-4 col-sm-3 col-xs-6 padding-top-20 padding-bottom-20">
      <div class="text-center"><img class="team-avatar" src="https://res.cloudinary.com/triptable/image/upload/w_250,h_250,g_face,e_grayscale,c_fill,q_auto,f_auto/v1462660313/yakjlhhiyvxswttwue9f.jpg" alt=""><p class="text-center">Ytzvan Mastino<br>Co-Founder / CEO <br>
        <a target="_blank" href="http://fb.me/triptable"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/in/ytzvan/"><i class="fa fa-linkedin"></i></a>
      </p></div>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-6 padding-top-20 padding-bottom-20"></div>
    
    <!--<div class="col-md-2 col-sm-4 padding-top-20 padding-bottom-20">
      <div class="text-center"><img class="team-avatar" src="https://res.cloudinary.com/triptable/image/upload/w_250,h_250,e_grayscale/v1502167156/lia.jpg" alt=""><p class="text-center">Lia Hernández<br>Legal Advisor<br>
      <a target="_blank" href="http://fb.me/triptable"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="http://twitter.com/triptable_es"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.linkedin.com/company/9260297/"><i class="fa fa-linkedin"></i></a></p></div>
    </div>--> 
  </div>
  
  <div class="clearfix"></div>
  <div class="row margin-bottom-60 margin-top-30">
    <div class="col-md-12">
      <h2 class="text-center">Media / Video</h2>
    </div>
    <div class="col-md-12">
        <div class="listing-overview video margin-top-30 margin-bottom-30">
          <iframe src="https://www.youtube.com/embed/Bckda40heLo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-12">
      <div class="listing-overview video margin-top-30 margin-bottom-30">
        <iframe src="https://www.youtube.com/embed/aRdg1pm-t4E" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $.ajax({
          url: "https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js",
          dataType: "script"
        }).done(function () {
          $(".video").fitVids();
        });
    });
		$('#about').addClass('current');
</script>

  