<!-- Banner
================================================== -->
<div class="main-search-container" data-background-image="images/bg1.jpg">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Find Unique Tours & Activities</h2>
					<h4>Expolore top-rated tours, activities and more</h4>

					<div class="main-search-input">

						<div class="main-search-input-item">
							<input type="text" placeholder="What are you looking for?" value=""/>
						</div>

						<div class="main-search-input-item location">
							<input type="text" placeholder="Cerca de..." value=""/>
							<a href="#"><i class="fa fa-dot-circle-o"></i></a>
						</div>

						<!--<div class="main-search-input-item">
							<select data-placeholder="All Categories" class="chosen-select" >
								<option>All Categories</option>	
								<option>Shops</option>
								<option>Hotels</option>
								<option>Restaurants</option>
								<option>Fitness</option>
								<option>Events</option>
							</select>
						</div>-->

						<button class="button" onclick="window.location.href='search.html'">Search</button>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- Categories Partial %- partial("partials/home/_cities") %> -->
<!-- Info Partial %- partial("partials/home/_info") %> -->
 {{>home/_info}}
 {{>home/_cities}}
<!-- Categories Partial %- partial("partials/home/_listings") %> -->
<!-- Categories Partial %- partial("partials/home/_categories") %> -->
<!-- Tours Partial %- partial("partials/home/_tours") %> -->
{{>home/_tours}}
<!-- Parallax Partial %- partial("partials/home/_parallax") %> -->
{{>home/_parallax}}
<!-- Blog Partial %- partial("partials/home/_blog") %> -->
{{>home/_blog}}
{{>home/_media}}

