<div class="wpb_text_column wpb_content_element vc_custom_1444059396534 frontheading vc_column_text">
  <div class="wpb_wrapper">
    <h1 style="text-align: center; margin-bottom: 10px;">Latest Articles</h1>
    <div class="subheading">This shortcode shows latest articles from your blog.</div>
  </div>
</div>
<div class=" bottom-post nobutton">
  <div class="items_shortcode_wrapper">
    <div class="col-md-4 property_flex">
    <div class="blog_unit_back" data-link="#">
      <div class="listing-unit-img-wrapper">
        <div class="cross"></div>
        <img src="http://wprentals.org/wp-content/uploads/2015/04/demo573.jpg" class=" b-lazy img-responsive" alt="What Guests Want to Know" ></div>
        <div class="blog-title">
          <a href="http://wprentals.org/2015/04/21/what-guests-want-to-know/" class="blog-title-link">What Guests Want to Know</a>
          <div class="blog-unit-content">
            The world we live in is full of natural wonders, diverse wildlife, unique cultures and inspiring people. There are plenty ...
          </div>
          <div class="category_tagline">
            <span class="span_widemeta"> Apr 21, 2015</span> , 
            <span class="span_widemeta span_comments"><i class="fa fa-comment-o"></i> 4</span>
          </div>
        </div>
      </div>    
    </div>
    <div class="col-md-4 property_flex">
      <div class="blog_unit_back " data-link="http://wprentals.org/2015/04/21/how-to-be-a-great-host/">
        <div class="listing-unit-img-wrapper">
        <div class="cross"></div>
        <img src="http://wprentals.org/wp-content/uploads/2015/04/demo172.jpg" class=" b-lazy img-responsive" alt="How to be a Great Host for Renters" >
      </div>
      <div class="blog-title">
        <a href="http://wprentals.org/2015/04/21/how-to-be-a-great-host/" class="blog-title-link">How to be a Great Host for R...</a>
        <div class="blog-unit-content">The experience of traditional vacation is fast being replaced with digital transformation. Increase in the usage of mobile internet has ...</div>
        <div class="category_tagline">
          <span class="span_widemeta"> Apr 21, 2015</span> , 
          <span class="span_widemeta span_comments"><i class="fa fa-comment-o"></i> 2</span>
        </div>
      </div>
    </div>    
  </div>
  <div class="col-md-4 property_flex">
    <div class="blog_unit_back " data-link="#">
    <div class="listing-unit-img-wrapper">
      <div class="cross"></div>
        <img src="http://wprentals.org/wp-content/uploads/2015/04/demo41.jpg" class=" b-lazy img-responsive" alt="Offering a Full Welcoming Space" >
      </div>
      <div class="blog-title">
        <a href="http://wprentals.org/2015/04/21/offering-a-welcoming-space/" class="blog-title-link">Offering a Full Welcoming Sp...</a>
        <div class="blog-unit-content">A customized trailer can be a great investment for people, who have to travel quite frequently. These travel trailers can ...</div>
          <div class="category_tagline">
            <span class="span_widemeta"> Apr 21, 2015</span> , 
            <span class="span_widemeta span_comments"><i class="fa fa-comment-o"></i> 4</span>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>