
<div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1435665261660 vc_column" style="padding: 0;">
<div class="wpb_wrapper"></div>
	<div class="wpb_text_column wpb_content_element  vc_custom_1440769861480 vc_column_text">
		<div class="wpb_wrapper">
			<h1>Featured Owners</h1>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1435665228614 wpestate_row_inner vc_row_inner"><div class="wpb_column vc_column_container vc_col-sm-4 vc_column_inner"><div class="wpb_wrapper">
<div class="featured_property  featured_agent" data-link="http://wprentals.org/owners/janetdemo/">  
        <div class=" places1">
            <div class="listing-hover-gradient"></div><div class="listing-hover"></div>
            <div class="listing-unit-img-wrapper shortcodefull" style="background-image:url(http://www.visitpanama.com/img/what-to-do/casco-viejo/casco-viejo-tile.jpg)"></div>
                <div class="category_name">
                    <a class="featured_listing_title" href="http://wprentals.org/owners/janetdemo/"> Janet Rose </a>
                    <div class="category_tagline">
                       I love to travel and interact with new people.                    </div>
                   
                </div>
          
        </div>          
   
</div></div></div>
<div class="wpb_column vc_column_container vc_col-sm-4 vc_column_inner"><div class="wpb_wrapper">
<div class="featured_property  featured_agent" data-link="http://wprentals.org/owners/liliademo/">  
  
        <div class=" places1">
            <div class="listing-hover-gradient"></div><div class="listing-hover"></div>
            <div class="listing-unit-img-wrapper shortcodefull" style="background-image:url(http://www.visitpanama.com/img/what-to-do/cuisine-panama/cuisine-panama-tile.jpg)"></div>

            
             
                <div class="category_name">
                    <a class="featured_listing_title" href="http://wprentals.org/owners/liliademo/"> Gastronomia</a>
                    <div class="category_tagline">
                       New York history &amp; art lover.                     </div>
                   
                </div>
          
        </div>          
</div></div></div>

<div class="wpb_column vc_column_container vc_col-sm-4 vc_column_inner"><div class="wpb_wrapper">
<div class="featured_property  featured_agent" data-link="http://wprentals.org/owners/michaeldemo/">  
  
        <div class=" places1">
            <div class="listing-hover-gradient"></div><div class="listing-hover"></div>
            <div class="listing-unit-img-wrapper shortcodefull" style="background-image:url(http://www.visitpanama.com/img/what-to-do/whale-watching/whale-watching-tile.jpg)"></div>

            
             
                <div class="category_name">
                    <a class="featured_listing_title" href="http://wprentals.org/owners/michaeldemo/"> Michael Douglas </a>
                    <div class="category_tagline">
                       Professional Photographers in NY.                     </div>
                   
                </div>
          
        </div>          
</div></div></div></div></div></div>