			<section class="overflow-hidden why-us-half-image-wrapper">
			
				<div class="GridLex-grid-noGutter-equalHeight">
						
					<div class="GridLex-col-6_sm-12">
						
						<div class="why-us-half-image-content">
						
							<div class="section-title text-left">
							
								<h3>Se un guía en tu Ciudad</h3>
								<p>Gana dinero extra mostrando tu ciudad a viajeros y haz nuevos amigos.</p>
								
							</div>
							
							<div class="featured-item">
							
								<h4>Tu Propio Tiempo</h4>
								
								<div class="content clearfix">
								
									<div class="icon">
										<i class="pe-7s-clock"></i>
									</div>
									
									<p>Eres dueño de tu disponibilidad. Puedes ser guía en tu tiempo libre y divertirte a la vez.</p>
									
								</div>
							</div>
							
							<div class="featured-item">
							
								<h4>Reservas Online</h4>
								
								<div class="content clearfix">
								
									<div class="icon">
										<i class="pe-7s-credit"></i>
									</div>
									
									<p>Te ofrecemos las herramientas tecnológicas para que empieces a ofrecer tus trips en línea desde el día 1.</p>
									
								</div>
							</div>
							
							
							<div class="featured-item">
							
								<h4>Aumenta tus Ventas</h4>
								
								<div class="content clearfix">
								
									<div class="icon">
										<i class="pe-7s-rocket"></i>
									</div>
									
									<p>Si ya eres un guía o tour operador establecido, Triptable te ayuda a aumentar tus reservas.</p>
									
								</div>
							</div>
								<div class="text-center pt-10">
                        	<a href="#" class="btn btn-primary">Conoce Más</a>
                      	</div>
						</div>
						
					</div>
					
					<div class="GridLex-col-6_sm-12 image-bg">
						<div class="image-bg" style="background-image:url('images/image-01.jpg');"></div>
					</div>
				
				</div>
				
			</section>