			<section class="overflow-hidden why-us-half-image-wrapper hidden-xs">

				<div class="GridLex-grid-noGutter-equalHeight">

					<div class="GridLex-col-6_sm-12">

						<div class="why-us-half-image-content">

							<div class="section-title text-left">

								<h3>Listar un tour</h3>
								<p>Listar tus servicios turísticos en con nostros tiene muchas ventajas que potenciarán tu negocio.</p>

							</div>

							<div class="featured-item">

								<h4>Tu Propio Tiempo</h4>

								<div class="content clearfix">

									<div class="icon">
										<i class="pe-7s-clock"></i>
									</div>

									<p>Eres dueño de tu disponibilidad. Puedes ser guía en tu tiempo libre y divertirte a la vez.</p>

								</div>
							</div>

							<div class="featured-item">

								<h4>Poderosas Herramientas</h4>

								<div class="content clearfix">

									<div class="icon">
										<i class="pe-7s-credit"></i>
									</div>

									<p>Con nuestros servicios y herramientas, puedes administrar, promocionar y expandir tu negocio con toda facilidad.</p>

								</div>
							</div>


							<div class="featured-item">

								<h4>Capacitación Continua</h4>

								<div class="content clearfix">

									<div class="icon">
										<i class="pe-7s-rocket"></i>
									</div>

									<p>Nuestros especialistas te ayudarán siempre que necesites ayuda y aprende como aumentar tus reservas con nuestras herramientas para tour operadores.</p>

								</div>
							</div>
								<div class="text-center pt-10">
                        	<a href="/partners" class="btn btn-primary">Aplica ahora</a>
                      	</div>
						</div>

					</div>

					<div class="GridLex-col-6_sm-12 image-bg">
						<div class="image-bg" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/q_50/v1463514731/u7wvcdt7rdrof6k3yagx.jpg');"></div>
					</div>

				</div>

			</section>