    <div class="owner-page-wrapper">
        <div class="owner-wrapper  content-fixed-listing row" id="listing_owner">
            
<div class="col-md-2 agentpic-wrapper">
    <div class="owner_listing_image " style="background-image: url('http://triptableapp.com/wp-content/uploads/2015/06/590_429_profile_2-150x150.jpg');"></div>
   
</div>

<div class="col-md-10 agentpic-wrapper">
    <h3>Barefoot Panamá</h3>
    <p>Ubicado en el corazón de Panamá, Barefoot Travel es un tour operador de Panamá.
Desde que Barefoot Travel utiliza Triptable, su ventas ha aumentado un 30%. </p><p>Descubre cómo Triptable puede ayudar a crecer tu reservas</p>
    <a class="owner_read_more " href="http://triptableapp.com/owners/mariademo/">Ver Caso de Estudio</a>
     <div  id="contact_me_long" class=" owner_read_more " data-postid="137" >Listar mis tours</div>
</div>        </div>
    </div>