<div data-vc-full-width="false" data-vc-full-width-init="false" style="" class="vc_row wpb_row vc_row-fluid wpestate_row vc_row">
  <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
    <div class="wpb_wrapper"><div class="spacer" style="height:30px;"></div>
    <div class="wpb_text_column wpb_content_element  vc_custom_1443689342618 frontheading vc_column_text">
    <div class="wpb_wrapper">
      <h1 style="text-align: center; margin-bottom: 10px;">Destinos</h1>
      <div class="subheading">You can list specific cities or areas with the featured place shortcode</div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid wprentals_space wpestate_row_inner vc_row_inner">
    <div class="wpb_column vc_column_container vc_col-sm-4 vc_custom_1440677774186 vc_column_inner">
      <div class="wpb_wrapper">
        <div class="places_wrapper type_1_class" data-link="#">
          <div class="listing-hover-gradient"></div>
          <div class="listing-hover"></div>
          <div class="places1 featuredplace" style="background-image:url(http://www.visitpanama.com/img/where-to-go/city/bella-vista/bella-vista-tile.jpg)"></div>
          <div class="category_name">
            <a class="featured_listing_title" href="http://triptableapp.com/city/baltimore/">Ciudad de Panama</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-4 vc_custom_1438782048463 vc_column_inner">
    <div class="wpb_wrapper">
      <div class="places_wrapper type_1_class" data-link="#">
        <div class="listing-hover-gradient"></div>
        <div class="listing-hover"></div>
        <div class="places1 featuredplace" style="background-image:url(http://www.visitpanama.com/img/where-to-go/rainforest/boquete/boquete-tile.jpg)"></div>
        <div class="category_name">
          <a class="featured_listing_title" href="http://triptableapp.com/city/boston/">Boquete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-4 vc_custom_1440677781873 vc_column_inner">
    <div class="wpb_wrapper">
      <div class="places_wrapper type_1_class" data-link="#">
        <div class="listing-hover-gradient"></div>
        <div class="listing-hover"></div>
        <div class="places1 featuredplace" style="background-image:url(http://www.visitpanama.com/img/where-to-go/pacific/coiba/coiba-tile.jpg)"></div>
        <div class="category_name">
          <a class="featured_listing_title" href="http://triptableapp.com/city/new-york/">Veraguas</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer" style="height:35px;"></div>
</div>
</div>
</div>
<div class="vc_row-full-width">
</div><!-- Row Backgrounds -->
<div class="upb_color" data-bg-override="0" data-bg-color="#ffffff" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"  data-custom-vc-row=""  data-vc="4.8.1"  data-theme-support=""   data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size="">
</div>
<div class="vc_row wpb_row vc_row-fluid wpestate_row vc_row">
  <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
    <div class="wpb_wrapper">
    <div class="spacer" style="height:20px;">
    </div>