
		<div class="container-fluid featured-tours">
          <div class="row" style="padding:25px 0px;">
            <div class="col-md-12" style="padding-bottom:15px">
              <h1 class="text-center">Destinos Populares</h1>
            </div>
			{{#each data.cities}}
                  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <a  href="/province/{{slug}}">
                        	<div class="destination_container" style="background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5)),url('{{{cloudinaryUrl image height=400 crop='fill' secure=true}}}'); background-position: 50%; background-size: cover;">
                                <h2 class="destination no-margin">{{city}}</h2>
                            </div>	</a>
                        </div> 
        	{{/each}}  
        </div>
        </div>