
<div class="wpb_column vc_column_container vc_col-sm-12 vc_column" style="padding: 0;">
<div class="wpb_text_column wpb_content_element  vc_column_text">
		<div class="wpb_wrapper">
			<h1 style="text-align: center;">Destinos</h1>
			<div class="subheading">Estos son los mejores Destinos en Panamá</div>
		</div>
	</div>

{{#each data.provinces}}
<div class="places_wrapper places_wrapper3  ">
<div class="listing-hover-gradient"></div>
<div class="listing-hover"></div>
<div class="places3" style="background-image:url({{{cloudinaryUrl image height=300 crop='fill' gravity='north'}}})"></div>
<div class="category_name"><a class="featured_listing_title" href="/panama/{{slug}}">{{province}}</a>
<div class="category_tagline">{{description}}</div>
</div>
</div>
{{/each}}

</div>

<!--
<div class="panel-wrapper">
<a class="panel-title" id="listing_ammenities" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseFour"><span class="panel-title-arrow"></span>Busca Experiencias por Localidad</a><div id="collapseFour" class="panel-collapse collapse in">
<div class="panel-body panel-body-border">
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Bocas del Toro ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Boca Chica ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en El Valle ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Cerro Punta ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Coclé ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Pedasí ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Portobelo ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Chitré ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Santiago ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Isla Colón ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en David ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Herrera ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Los Santos ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Tours en Chiriquí ($35)</div>
<div class="listing_detail col-md-4"><i class="fa fa-check checkon"></i>Ver Todas</div>
</div>
</div>
</div>
-->
