			<div class="newsletter-wrapper pb50">

				<div class="container">

					<div class="flex-row flex-align-middle flex-gap-30">

						<div class="flex-column flex-sm-12">
							<div class="newsletter-text clearfix">
								<div class="icon">
									<i class="pe-7s-mail"></i>
								</div>
								<div class="content">
									<h3>Recibe Ofertas de Viaje</h3>
									<p>Todas las semanas tenemos excelentes ofertas. Suscríbite y sé el primero en enterarte.</p>
								</div>
							</div>
						</div>

						<div class="flex-columns flex-sm-12">
							<div class="newsletter-form">
								<form class=""  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="//triptableapp.us9.list-manage.com/subscribe/post?u=3a8a1218fa8bc51e8afbe4231&amp;id=102795c6fa" method="post">
									<div class="input-group">
										<input type="email" name="EMAIL" class="form-control" placeholder="Introduce tu E-mail">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="submit">Suscribirme <i class="fa fa-long-arrow-right"></i></button>
										</span>
									</div>
								</form>
							</div>
						</div>

					</div>

				</div>

			</div>
