<div class="bg-light section pt-40 pb-20">

					<div class="container">
						<div class="map-contact">

							<div class="top-place-inner">

								<div id="map_5_list" class="list row gap-0">

									<div class="col-sm-4">
                    <img class="img-responsive" src="http://kit8.net/images/detailed/1/Travel_vocation_flat_vector_illustration.png?t=1435598821" />
									</div>

                  <div class="col-sm-4">
										<div class="maplocation map-top-destination-item">

											<div class="mb-30 maplink">
												<div class="content" style="padding-top:20%;">
													<h3 class="heading mt-0 featured-text center" style="color:#3498db;">¿Qué es Triptable?</h3>
													<p style="text-align:center;font-size:16px;">Somos la manera más fácil de reservar tours</p>
                          <div style="text-align:center;">
                            <a href="#" class="btn btn-primary">Conócenos</a>
                           </div>
												</div>
											</div>

										</div>
									</div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="http://41.media.tumblr.com/6b6837f96ceed7d1dcfee9b60e22a692/tumblr_mnjewc1fi51qcr29vo1_1280.jpg" />
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>