	<section class="bg-light">
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
							
							<div class="section-title">
							
								<h3>Testimonios</h3>
								<p>Esto es lo que comentan acerca de nosotros</p>
							</div>
							
						</div>
					
					</div>
					
					<div class="testimonial-wrapper">
					
						<div class="row">
							
							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="testimonial-item clearfix">
									<div class="image">
										<img src="http://res.cloudinary.com/triptable/image/upload/c_fill,h_400,q_51,w_400/v1460509544/kennybanner_ikdm0w.jpg" alt="Man" style="border-radius:50%;"/>
									</div>
									<div class="content">
										<h4>Kenny Weeks</h4>
										<h6>Guía turístico</h6>
										<p>Triptable me ha ayudado a conectar directamente con mis clientes y puedo trabajar bajo mi propio calendario. No tengo que invertir en infraestructura para vender online.</p>
									</div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="testimonial-item clearfix">
									<div class="image">
										<img src="images/man/02.jpg" style="border-radius:50%;" alt="Man" />
									</div>
									<div class="content">
										<h4>Sandra H.</h4>
										<h6>De Suecia</h6>
										<p>Si no sabes que visitar en tu viaje a Panamá, Triptable es súper recomendado porque me permitió reservar un tour a San Blas para el día siguiente cuando no había disponibilidad en otros lados.</p>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</section>