	<section class="bg-light">

				<div class="container">

					<div class="row">

						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

							<div class="section-title">

								<h3>Testimonios</h3>
								<p>Esto es lo que comentan acerca de nosotros</p>
							</div>

						</div>

					</div>

					<div class="testimonial-wrapper">

						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="testimonial-item clearfix">
									<div class="image">
										<img src="https://s3.amazonaws.com/uifaces/faces/twitter/glif/128.jpg" alt="Man" style="border-radius:50%;"/>
									</div>
									<div class="content">
										<h4>Víctor Hugo S.</h4>
										<h6>Guía Independiente</h6>
										<p>Triptable me ha ayudado a conectar directamente con mis clientes y puedo trabajar bajo mi propio calendario. No tengo que invertir en infraestructura para vender online.</p>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="testimonial-item clearfix">
									<div class="image">
										<img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" style="border-radius:50%;" alt="Man" />
									</div>
									<div class="content">
										<h4>Margarita E.</h4>
										<h6>Panama Tour Adventures</h6>
										<p>Manejaba todas mis reservas en Excel, pero con la plataforma de Triptable gestiono todas las reservas desde mi iPhone y todo se sincroniza.</p>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

			</section>