<section class="bg-light">

        <div class="container-fluid featured-tours">

          <div class="row" >
            <div class="col-md-12" >
              <h1 style="margin-top:10px;">Tours {{i18n "in"}} Panama <a href="/panama" class="tourlink"> ({{toursPanama.total}} Tours y Actividades)</a></h1>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto toursPanama.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}

            </div>
          </div>
        </div>

        <div class="container-fluid featured-tours">

          <div class="row">
            <div class="col-md-12">
              <h1 class="tourTitle" >Excursiones en Colombia <a href="/colombia" class="tourlink"> ({{toursColombia.total}} Tours y Actividades)</a></h1><br>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto toursColombia.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}

            </div>
          </div>
        </div>

        <div class="container-fluid featured-tours">

          <div class="row">
            <div class="col-md-12">
              <h1 class="tourTitle" >Qué hacer en Mexico <a href="/mexico" class="tourlink">({{toursMexico.total}} Tours y Actividades)</a></h1><br>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto toursMexico.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}
            </div>
          </div>
        </div>

        {{>home/destinos}}

      </section>

    