<div class="front-page-section">
                                <div class="section-wrap">
                                    <h3 class="widget_title  widget_title--frontpage"> Tips &#038; Articles <span class="widget_subtitle  widget_subtitle--frontpage"> Browse the latest articles from our blog. </span></h3>
                                    <div class="grid  grid--widget  list">
                                        <div class="grid__item  grid__item--widget">
                                            <article id="post-250" class="card card--post post-250 post type-post status-publish format-standard has-post-thumbnail hentry category-travelling tag-adventure tag-art tag-culture tag-food tag-packing tag-travel tag-world not-claimed">
                                                <a href="https://pixelgrade.com/demos/listable/travelling/etiquette-tips-for-travellers/">
                                                    <aside class="card__image" style="background-image: url('https://i2.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/etiquitte-thumb1.jpg?fit=450%2C316&ssl=1')"></aside>
                                                </a>
                                                <div class="card__content">
                                                    <h2 class="card__title"><a href="https://pixelgrade.com/demos/listable/travelling/etiquette-tips-for-travellers/" rel="bookmark">Etiquette tips for travellers</a></h2>
                                                    <div class="card__meta"> <span class="posted-on"><a href="https://pixelgrade.com/demos/listable/travelling/etiquette-tips-for-travellers/" rel="bookmark"><time class="entry-date published updated" datetime="2015-10-20T12:25:49+00:00">October 20, 2015</time></a></span>
                                                        <ul class="card__links">
                                                            <li><a href="https://pixelgrade.com/demos/listable/category/travelling/">Travelling</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="grid__item  grid__item--widget">
                                            <article id="post-326" class="card card--post post-326 post type-post status-publish format-standard has-post-thumbnail hentry category-culture tag-community tag-culture tag-tips not-claimed">
                                                <a href="https://pixelgrade.com/demos/listable/culture/the-biggest-annual-gathering-comunity/">
                                                    <aside class="card__image" style="background-image: url('https://i2.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/featured-frontpage-1.jpg?fit=450%2C280&ssl=1')"></aside>
                                                </a>
                                                <div class="card__content">
                                                    <h2 class="card__title"><a href="https://pixelgrade.com/demos/listable/culture/the-biggest-annual-gathering-comunity/" rel="bookmark">The Annual Gathering Comunity</a></h2>
                                                    <div class="card__meta"> <span class="posted-on"><a href="https://pixelgrade.com/demos/listable/culture/the-biggest-annual-gathering-comunity/" rel="bookmark"><time class="entry-date published updated" datetime="2015-10-10T06:57:11+00:00">October 10, 2015</time></a></span>
                                                        <ul class="card__links">
                                                            <li><a href="https://pixelgrade.com/demos/listable/category/culture/">Culture</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="grid__item  grid__item--widget">
                                            <article id="post-348" class="card card--post post-348 post type-post status-publish format-standard has-post-thumbnail hentry category-travelling tag-city tag-london tag-urban not-claimed">
                                                <a href="https://pixelgrade.com/demos/listable/travelling/the-famous-streets-of-london/">
                                                    <aside class="card__image" style="background-image: url('https://i0.wp.com/pixelgrade.com/demos/listable/wp-content/uploads/2015/10/DeathtoStock_London6.jpg?fit=450%2C300&ssl=1')"></aside>
                                                </a>
                                                <div class="card__content">
                                                    <h2 class="card__title"><a href="https://pixelgrade.com/demos/listable/travelling/the-famous-streets-of-london/" rel="bookmark">The Famous Streets of London</a></h2>
                                                    <div class="card__meta"> <span class="posted-on"><a href="https://pixelgrade.com/demos/listable/travelling/the-famous-streets-of-london/" rel="bookmark"><time class="entry-date published updated" datetime="2015-09-17T07:32:41+00:00">September 17, 2015</time></a></span>
                                                        <ul class="card__links">
                                                            <li><a href="https://pixelgrade.com/demos/listable/category/travelling/">Travelling</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="nav-links">
                                        <div class="nav-next"> <a href="https://pixelgrade.com/demos/listable/tips-articles/">View All</a></div>
                                    </div>
                                </div>
                            </div>