<header id="topnav">
<div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        
                        <ul class="navigation-menu">
                            <li class="has-submenu">
                                <a href="#"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="zmdi zmdi-calendar"></i>Mis Reservas</a>
                                <ul class="submenu">
                                    <li><a href="ui-buttons.html">Calendario</a></li>
                                    <li><a href="ui-loading-buttons.html">Lista de Reservas</a></li>                                   
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="zmdi zmdi-walk"></i>Mis Tours</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="zmdi zmdi-inbox"></i>Mensajes</a>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="zmdi zmdi-badge-check"></i>Reviews</a>
                            


                            <li>
                                <a href="#"><i class="zmdi zmdi-collection-text"></i>Reportes</a>
                            </li>
                        </ul>    
                        <!-- End navigation menu        -->
                    </div>
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>    