<li id="wpestate_login_widget-2" class="widget-container loginwd_sidebar">
        <input type="hidden" id="security-login-forgot_wd" name="security-login-forgot_wd" value="d0020c07a6" />
        <input type="hidden" name="_wp_http_referer" value="/properties/huge-sunny-villa-east-side/" />
        <div class="login_sidebar">
          <h3 class="widget-title-sidebar"  id="login-div-title">Login</h3>
          <div class="login_form" id="login-div">
            <div class="loginalert" id="login_message_area_wd"></div>                         
            <input type="text" class="form-control" name="log" id="login_user_wd" placeholder="Username"/>
            <input type="password" class="form-control" name="pwd" id="login_pwd_wd" placeholder="Password"/>                       
            <input type="hidden" name="loginpop" id="loginpop_wd" value="0">
            <input type="hidden" id="security-login" name="security-login" value="e4541c2bd0" />                         
            <button class="wpb_button  wpb_btn-info  wpb_regularsize   wpestate_vc_button  vc_button" id="wp-login-but-wd" >Login</button>       
            <div class="navigation_links">
              <a href="#" id="widget_register_sw">Don&#039;t have an account?</a> | 
              <a href="#" id="forgot_pass_widget">Forgot Password?</a>
            </div>
            <div class="login-links">
              <div id="facebooklogin_wd" data-social="facebook"><i class="fa fa-facebook"></i>Login with Facebook</div>
              <div id="googlelogin_wd" data-social="google"><i class="fa fa-google"></i>Login with Google</div>
              <div id="yahoologin_wd" data-social="yahoo"><i class="fa fa-yahoo"></i>Login with Yahoo</div>
            </div>
          </div>
          <h3 class="widget-title-sidebar"  id="register-div-title">Register</h3>
          <div class="login_form" id="register-div">
            <div class="loginalert" id="register_message_area_wd"></div>
            <input type="text" name="user_login_register" id="user_login_register_wd" class="form-control" placeholder="Username"/>
            <input type="text" name="user_email_register" id="user_email_register_wd" class="form-control" placeholder="Email"  />
            <input type="checkbox" name="terms" id="user_terms_register_wd">
            <label id="user_terms_register_wd_label" for="user_terms_register_wd">I agree with <a href="http://wprentals.org/terms-and-conditions/" target="_blank" id="user_terms_register_topbar_link">terms &amp; conditions</a></label>
            <p id="reg_passmail">A password will be e-mailed to you</p>
            <input type="hidden" id="security-register" name="security-register" value="cdce4af219" />   
            <button class="wpb_button  wpb_btn-info  wpb_regularsize  wpestate_vc_button  vc_button" id="wp-submit-register_wd">Register</button>
            <div class="login-links">
              <a href="#" id="widget_login_sw">Back to Login</a>
            </div>   
          </div>
        </div>
        <h3 class="widget-title-sidebar"  id="forgot-div-title_shortcode">Reset Password</h3>
        <div class="login_form" id="forgot-pass-div_shortcode">
          <div class="loginalert" id="forgot_pass_area_shortcode_wd"></div>
          <div class="loginrow">
            <input type="text" class="form-control" name="forgot_email" id="forgot_email_shortcode" placeholder="Enter Your Email Address" size="20" />
          </div>
          <input type="hidden" id="security-login-forgot_wd" name="security-login-forgot_wd" value="d0020c07a6" /><input type="hidden" name="_wp_http_referer" value="/properties/huge-sunny-villa-east-side/" />  
          <input type="hidden" id="postid" value="0">    
          <button class="wpb_btn-info wpb_regularsize wpestate_vc_button  vc_button" id="wp-forgot-but_shortcode" name="forgot" >Reset Password</button>
          <div class="login-links shortlog">
            <a href="#" id="return_login_shortcode">Return to Login</a>
          </div>
        </div>
      </li>