<li id="wpestate_advanced_search_widget-2" class="widget-container advanced_search_sidebar">
        <h3 class="widget-title-sidebar">Advanced Search</h3>
        <form id="widget_search" method="get" action="http://triptableapp.com/advanced-search/" >
          <div class="map_icon">
            <input type="text" id="search_location_filter_widget" class="form-control search_location_city" name="search_location" placeholder="Where are you going?" value="" autocomplete="off">
            <input type="hidden" id="advanced_city_widget"   class="form-control" name="advanced_city" data-value=""   value="" >     <input type="hidden" id="advanced_area_widget"   class="form-control" name="advanced_area" data-value="" value="" >
            <input type="hidden" id="advanced_country_widget" class="form-control" name="advanced_country" data-value="" value="" >
          </div>
          <div class="has_calendar calendar_icon ">
            <input type="text" id="checkinwidget" class="form-control " name="check_in" placeholder="Check in">       
          </div>
          <div class="has_calendar calendar_icon ">
            <input type="text" id="checkoutwidget" disabled class="form-control " name="check_out" placeholder="Check Out">
          </div>
          <div class="dropdown form-control guest_form">
            <div data-toggle="dropdown" id="guest_no_widget" class="filter_menu_trigger" data-value="all"> Guests <span class="caret caret_filter"></span>
            </div>           
            <input type="hidden" name="guest_no" id="guest_no_wid" value="">
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="guest_no_wid">
              <li role="presentation" data-value="0">any</li>
              <li role="presentation" data-value="1">1 guest</li>
              <li role="presentation" data-value="2">2 guests</li>
              <li role="presentation" data-value="3">3 guests</li>
              <li role="presentation" data-value="4">4 guests</li>
              <li role="presentation" data-value="5">5 guests</li>
              <li role="presentation" data-value="6">6 guests</li>
              <li role="presentation" data-value="7">7 guests</li>
              <li role="presentation" data-value="8">8 guests</li>
              <li role="presentation" data-value="9">9 guests</li>
              <li role="presentation" data-value="10">10 guests</li>
              <li role="presentation" data-value="11">11 guests</li>
              <li role="presentation" data-value="12">12 guests</li>
              <li role="presentation" data-value="13">13 guests</li>
              <li role="presentation" data-value="14">14 guests</li>
            </ul>
          </div>
          <div class="adv_search_widget">
            <p><label>Price range:</label><span id="amount_wd"  style="border:0;">$ 0 to $ 500</span></p>
            <div id="slider_price_widget"></div>
              <input type="hidden" id="price_low_widget"  name="price_low"  value="0"/>
              <input type="hidden" id="price_max_widget"  name="price_max"  value="500"/>
          </div>
          <button class="wpb_btn-info wpb_regularsize wpestate_vc_button  vc_button" id="advanced_submit_widget">Search</button>
        </form>  
      </li>