<li id="wpestate_tweet_widget-2" class="widget-container twitter_wrapper">
      <div class="carousel slide wpestate_recent_tweets">
        <h3 class="widget-title-sidebar">Latest Tweets</h3>
        <div class="item">
          <span>WP Rentals - How to manage bookings : <a href="https://t.co/47cB7DFqTw" title="https://t.co/47cB7DFqTw"  target="_blank"  >https://t.co/47cB7DFqTw</a></span><br />
          <a class="twitter_time" target="_blank" href="http://twitter.com/wpestate/statuses/659290425468059648">22 days ago</a>
        </div>
        <div class="item">
          <span>Here is a new feature in WpResidence 1.12 (will be released this week) : <a href="https://t.co/kYltjj02lu" title="https://t.co/kYltjj02lu"  target="_blank"  >https://t.co/kYltjj02lu</a></span><br />
          <a class="twitter_time" target="_blank" href="http://twitter.com/wpestate/statuses/658929821519618049">23 days ago</a>
        </div>
        <div class="item">
          <span>One of the most powerful feature of WpRentals is the custom price option : <a href="https://t.co/Jlyf19HHT2" title="https://t.co/Jlyf19HHT2"  target="_blank"  >https://t.co/Jlyf19HHT2</a></span><br />
          <a class="twitter_time" target="_blank" href="http://twitter.com/wpestate/statuses/658572837435940865">24 days ago</a>
        </div>
      </div>
      </li>