<h4 class="uppercase">9 Comments</h4>

									<div id="comment-wrapper">

										<ul class="comment-item">
											<li>
												<div class="comment-avatar">
													<img src="images/man/03.jpg" alt="author image" />
												</div>
												<div class="comment-header">
													<a href="#" class="comment-reply">reply</a>
													<h6 class="heading mt-0">Ibrahim ibn al-Walid</h6>
													<span class="comment-time">23 minutes</span>
												</div>
												<div class="comment-content">
													<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
												</div>
												<ul class="comment-item">
													<li>
														<div class="comment-avatar">
															<img src="images/man/01.jpg" alt="author image" />
														</div>
														<div class="comment-header">
															<a href="#" class="comment-reply">reply</a>
															<h6 class="heading mt-0">Ibrahim ibn al-Walid</h6>
															<span class="comment-time">18 minutes</span>
														</div>
														<div class="comment-content">
															<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
														</div>
														<ul class="comment-item">
															<li>
																<div class="comment-avatar">
																	<img src="images/man/02.jpg" alt="author image" />
																</div>
																<div class="comment-header">
																	<a href="#" class="comment-reply">reply</a>
																	<h6 class="heading mt-0">Admin</h6>
																	<span class="comment-time">16 minutes</span>
																</div>
																<div class="comment-content">
																	<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
																</div>
															</li>
															<li>
																<div class="comment-avatar">
																	<img src="images/man/04.jpg" alt="author image" />
																</div>
																<div class="comment-header">
																	<a href="#" class="comment-reply">reply</a>
																	<h6 class="heading mt-0">Uthman ibn Affan</h6>
																	<span class="comment-time">5 minutes</span>
																</div>
																<div class="comment-content">
																	<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
																</div>
															</li>
														</ul>
													</li>
													<li>
														<div class="comment-avatar">
															<img src="images/man/02.jpg" alt="author image" />
														</div>
														<div class="comment-header">
															<a href="#" class="comment-reply">reply</a>
															<h6 class="heading mt-0">Admin</h6>
															<span class="comment-time">22 minutes</span>
														</div>
														<div class="comment-content">
															<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
														</div>
													</li>
												</ul>
											</li>
											<li>
												<div class="comment-avatar">
													<img src="images/man/01.jpg" alt="author image" />
												</div>
												<div class="comment-header">
													<a href="#" class="comment-reply">reply</a>
													<h6 class="heading mt-0">Admin</h6>
													<span class="comment-time">23 days</span>
												</div>
												<div class="comment-content">
													<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
												</div>
											</li>
											<li>
												<div class="comment-avatar">
													<img src="images/man/04.jpg" alt="author image" />
												</div>
												<div class="comment-header">
													<a href="#" class="comment-reply">reply</a>
													<h6 class="heading mt-0">Uthman ibn Affan</h6>
													<span class="comment-time">Nov, 23, 2013</span>
												</div>
												<div class="comment-content">
													<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>
												</div>
											</li>
										</ul>

										<div class="clear"></div>

										<div class="text-center">
											<a href="#" class="btn btn-primary">Load More</a>
										</div>

									</div><!-- End Comment -->

									<h3 class="uppercase">Leave a Comment</h3>

									<form method="post" id="contactForm" action="post" class="comment-form">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6">
												<div class="form-group">
													<label for="comment-name">Your Name <span class="text-danger">*</span></label>
													<input type="text" class="form-control" id="comment-name" >
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<div class="form-group">
													<label for="comment-email">Your Email <span class="text-danger">*</span></label>
													<input type="text" class="form-control" id="comment-email" >
												</div>
											</div>
										</div>
										<div class="clear"></div>
										<div class="row">
											<div class="col-md-12 mb-30">
												<div class="form-group">
													<label for="comment-message">Message <span class="text-danger">*</span></label>
													<textarea name="message" id="comment-message" class="form-control" rows="8"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<button type="submit" class="btn btn-primary">Comment</button>
											</div>
										</div>
									</form>