.header-widget{
  border: none;
}
span.booking-id{
  text-transform: uppercase;
  font-weight: 600 !important;
}
.buttons-to-right .button.approve:hover{
  background-color: #64bc36;
}
.buttons-to-right .button.reject:hover{
  background-color: #e42929;
}
.buttons-to-right, .dashboard-list-box .button.to-right{
  opacity: 1 !important;
}