<div class="entry-featured-carousel">
    <div class="entry-featured-gallery">
	{{#each data.tour.images}}
    	<img class="entry-featured-image" src="{{cloudinaryUrl height=450 secure=true crop='fill' }}" itemprop="image" />
    {{/each}}	
    </div>
</div>

