<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">

			<!-- start end Page title -->
			<div class="page-title static-header" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,g_auto,ar_16:9,q_auto,f_auto/dpr_auto,w_auto/c_limit,w_1920/v1467678896/TRIPTABLEAPP_09_lnwrwf.jpg');padding: 170px 0;background-position: center 20%;">

				<div class="container">

					<div class="row">

						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

							<h1 class="hero-title">Acerca de Nosotros</h1>

							<ol class="breadcrumb-list">
								<li><a href="/">Inicio</a></li>
								<li><span>Nosotros</span></li>
							</ol>

						</div>

					</div>

				</div>

			</div>
			<!-- end Page title -->

			<div class="content-wrapper pt-0 pb-0">

				<div class="section pt-60">

					<div class="container">
						<div class="row">
							<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

								<div class="section-title">

									<h3>Acerca de Triptable</h3>

								</div>

							</div>

						</div>

						<h4>Te ayudamos a descubrir grandiosos tours y actividades</h4>
						<p class="font15">La vida se trata de experiencias. Creemos que vale más coleccionar experiencias a coleccinar cosas, pero en Latinoamérica puede ser muy difícil encontrar esa experiencia ideal y reservarla en línea. </p>
						<p class="font15 mb-30">Queremos cambiar eso. Seleccionamos cuidadosamente los mejores tours, actividades y excursiones para que obtengas una experiencia única, te las presentamos en base a tus interesés y te permitimos que las reserves de una manera rápida y fácil desde tu computadora, tablet o teléfono inteligente. Nos enfocamos en que disfrutes al máximo tus viajes, no a que te estreses a lo largo del camino.</p>

						<h4>Lo que nos hace especiales</h4>
						<h6>El precio más bajo garantizado</h6>
						<p class="font15 mb-30">Nos aseguramos de llevarte el precio más bajo en los tours. Hemos desarrollado experiencias únicas que no encontrarás en otro sitio. Nuestros tours han sido personalizados para brindar una experiencia única, resaltando las mejores cosas que hacer que no debes dejar pasar.</p>
						<h6>Seguridad, Confianza y Protección</h6>
						<p class="font15 mb-30">La seguridad y tu confianza son los aspectos más importantes para nosotros, por eso todos nuestros guías son sometidos a un riguroso proceso de verificación de datos. Además al reservar un tour puedes incluir un seguro contra accidentes, para que no tengas que preocuparte por nada. </p>
						<h6>Servicio al Cliente</h6>
						<p class="font15 mb-30">¿Surgió algo y no podrás tomar el tour? ¿El pago ha sido rechazado? ¿No sabes que llevar para el tour? Cualquiera que sea tu duda o consulta, estamos disponibles 24/7 para atenderte.</p>

					</div>

				</div>

				<div class="bg-light section">

					<div class="container">

						<div class="row">

							<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

								<div class="section-title">

									<h3>El Equipo</h3>
									<p>Los que mantienen el engranaje andando</p>

								</div>

							</div>

						</div>

						<div class="team-wrapper">

							<div class="row">



                <div class="col-xss-12 col-xs-12 col-sm-6 col-md-6 mv-15">

									<div class="team-item">

										<div class="image">
											<img src="https://res.cloudinary.com/triptable/image/upload/w_400,h_400,g_face,c_fill,q_auto,f_auto/v1462660313/12244425_10153737963636917_2019038422203593264_o_aov2yu.jpg" alt="Team"  class="img-circle" />
										</div>

										<div class="content">

											<h5 class="uppercase">YTZVAN MASTINO</h5>
											<p>Co-fundador / Tecnología</p>
											<ul class="social">
												<li><a target="_blank" href="https://pa.linkedin.com/in/ytzvan"><i class="fa fa-linkedin"></i></a></li>
												<li><a target="_blank"href="https://twitter.com/ytzvan"><i class="fa fa-twitter"></i></a></li>
												<li><a target="_blank" href="https://instagram.com/ytzvan"><i class="fa fa-instagram"></i></a></li>
												<li><a href="mailto:y@triptable.com"><i class="fa fa-envelope"></i></a></li>
											</ul>

										</div>

									</div>
                </div>
								<div class="col-xss-12 col-xs-12 col-sm-6 col-md-6 mv-15">

									<div class="team-item">

										<div class="image">
											<img src="https://res.cloudinary.com/triptable/image/upload/w_400,h_400,g_face,c_fill,q_auto,f_auto/v1462660309/14429_314588675402105_8389389121068237589_n_axqh7i.jpg" alt="Team" class="img-circle" />
										</div>

										<div class="content">

											<h5 class="uppercase">MOISÉS MUÑOZ</h5>
											<p>Co-fundador / Negocios</p>
											<ul class="social">
												<li><a target="_blank" href="https://pa.linkedin.com/in/moises-muñoz-ab1461a7"><i class="fa fa-linkedin"></i></a></li>
												<li><a target="_blank" href="https://twitter.com/moismunch"><i class="fa fa-twitter"></i></a></li>
												<li><a target="_blank" href="https://instagram.com/moismunch"><i class="fa fa-instagram"></i></a></li>
												<li><a href="mailto:moises@triptable.com"><i class="fa fa-envelope"></i></a></li>
											</ul>

										</div>

									</div>

								</div>





							</div>

						</div>

					</div>

				</div>
        		<div class="bg-light section">

					<div class="container">

						<div class="row">

							<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

								<div class="section-title">

									<h3>Nos Apoyan</h3>
									<p>Emprendimiento impulsado por:</p>

								</div>

							</div>

						</div>
            <div class="partner-image-item">

							<a href="http://enx.fund" target="_blank"><img class="press-logo" style="height:120px;width:auto;" src="https://files.slack.com/files-pri/T03D9U34X-F1TA89TJS/enx_logo.png?pub_secret=5b347c909d" alt="ENX Fund" /></a>

						</div>
						</div>
				</div>
				<div class="overflow-hidden">
			       <div class="instagram-wrapper">
			           <div id="instagram" class="instagram"></div>
			         </div>
			   </div>
        {{>supportUs}}

				<!--<div class="section partner-wrapper bg-primary">

					<div class="container">

						<div class="row">

							<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

								<div class="section-title">

									<h4>Visto en</h4>

								</div>

							</div>

						</div>

						<div class="partner-image-item">

							<img class="press-logo" src="http://startupdope.com/wp-content/uploads/2015/04/LogoYellow-optimized1.png" alt="partner" />
							<img class="press-logo" src="https://skift.com/wp-content/themes/skift2/img/logo.svg" alt="partner" />
							<img class="press-logo" src="http://cdn.pulsosocial.com/wp-content/uploads/2016/04/pulso_logo_op.png" alt="partner" />
							<img class="press-logo" src="http://www.prensa.com/2016/01/05/Logo_LP_296x63-web.png" alt="partner" />
							<img class="press-logo" src="http://laestrella.com.pa/gese/img/la-estrella/graphics/logo-la-estrella-02.svg" alt="partner" />

						</div>

					</div>

				</div>-->


			</div>


		</div>
		<!-- end Main Wrapper -->
