<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<!-- start end Page title -->
			<div class="page-title" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1920/hmw698crnhe-clem-onojeghuo_ehnjlj.jpg'); padding: 200px 0; background-position: center 30%;">
				
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
						
							<h1 class="hero-title">¿Cómo Funciona Triptable?</h1>
							
							<ol class="breadcrumb-list">
								<li><a href="/">Inicio</a></li>
								<li><span>Cómo Funciona</span></li>
							</ol>
							
						</div>
						
					</div>

				</div>
				
			</div>
			<!-- end Page title -->
			
			<div class="content-wrapper">
			
				<div class="container">
			
					<div class="row">
					
						<div class="col-sm-4 col-md-3">
						
							<div class="scrollspy-sidebar for-faq-page">
							
								<div class="scrollspy-sidenav">
								
									<ul class="nav faq-nav">
										<li><a href="#faq-section-0" class="anchor">Preguntas Generales</a></li>
										<li><a href="#faq-section-1" class="anchor">Reservas</a></li>
									</ul>

								</div>
								
							</div>
							
						</div>
						
						<div class="col-sm-8 col-md-9">

							<div class="faq-wrapper">
								
								<div id="faq-section-0" class="faq-section">
									
									<h3 class="uppercase">Preguntas Generales</h3>
							
									<div class="panel-group bootstarp-accordion" id="faq-accordion" role="tablist" aria-multiselectable="true">
										<div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-accordion-one-1" aria-expanded="false" aria-controls="faq-accordion-one-1"> ¿Qué es Triptable?</a>
												</h4>
											</div>
											<div id="faq-accordion-one-1" class="panel-collapse collapse in" role="tabpanel">
												<div class="panel-body">
													<div class="faq-thread">
														<p>Triptable es una plataforma tecnológica que conecta viajeros con guías locales y operadores de turismo. Somos una alternativa la tradicional oferta de tours y actividades donde puedes conectar directamente con el guía u operador del tour. No somos una agencia de viajes ni un tour operador.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->
                                        <div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a role="button" class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-accordion-one-2" aria-expanded="false" aria-controls="faq-accordion-one-2"> ¿ ¿Cómo Reservo un Tour?</a>
												</h4>
											</div>
											<div id="faq-accordion-one-2" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													<div class="faq-thread">
														<p>Al momento de elegir un tour, puedes hacer click en el botón que dice "Reservar ahora", el sistema te pedirá que inicies sesión o puedes crear una cuenta. Luego de esto, podrás seleccionar la fecha en que deseas el tour, introducir tus datos personales y tu información de pago.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->

                                        <div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a role="button" class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-accordion-one-3" aria-expanded="false" aria-controls="faq-accordion-one-3"> ¿Cómo se si existe disponibilidad en la Fecha que Deseo el Tour?</a>
												</h4>
											</div>
											<div id="faq-accordion-one-3" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													<div class="faq-thread">
														<p>Cuando está reservando, la plataforma le permitirá seleccionar una fecha y le indicará si el tour está disponible en la fecha seleecionada. Si no hay espacio para esa fecha, Triptable no le permitirá escoger ese día. Luego de reservar e introducir su información pago, le confirmaremos la disponibilidad vía correo electrónico.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->

										<div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-accordion-one-4" aria-expanded="false" aria-controls="faq-accordion-one-4">¿Qué sucede después que reservo?</a>
												</h4>
											</div>
											<div id="faq-accordion-one-4" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													<div class="faq-thread">
														<p>Luego de reservar, recibirá un correo con la información introducida en la solicitud de reserva. En este punto ya le hemos notificado al guía u operador del tour asignado que usted ha reservado y le hemos enviado su información. El operador del tour validará está información y confirmará su reserva. En el e-mail de confirmación de su reserva, usted recibirá los datos de contacto del operador del tour y podrá hablar directamente con él en caso de necesitar información adicional del tour que acaba de reservar. </p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->


									</div>
									<!-- end of #accordion -->

								</div>
								
								<div id="faq-section-1" class="faq-section">
								
									<h3 class="uppercase">Reservas</h3>
							
									<div class="panel-group bootstarp-accordion" id="faq-accordion-two" role="tablist" aria-multiselectable="true">
										<div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#faq-accordion-two" href="#faq-accordion-two-1" aria-expanded="true" aria-controls="faq-accordion-two-1">¿Cual es el tiempo mínimo para realizar una reserva?</a>
												</h4>
											</div>
											<div id="faq-accordion-two-1" class="panel-collapse collapse in" role="tabpanel">
												<div class="panel-body">
													<div class="faq-thread">
														<p>El tiempo mínimo para realizar una reserva va a depender del tour que esté adquiriendo. Usted podrá reservar algunos tours desde 1 día antes de la salida del mismo, pero algunos requeriran que haga la reserva con al menos 3 días de antemano por motivos logísticos.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->

                                        <div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-two" href="#faq-accordion-two-2" aria-expanded="false" aria-controls="faq-accordion-two-2">¿Hasta que hora del día puedo reservar? </a>
												</h4>
											</div>
											<div id="faq-accordion-two-2" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													<div class="faq-thread">
														<p>Si desea reservar un tour para el día siguiente, la hora máxima para hacer su reserva es a las 6:59 P.M. (Hora de Panamá -5 GMT)</p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->
									</div>
									<!-- end of #accordion -->
									
								</div>

								<div class="call-to-action mt-50">
									
									Can't find a question you wanted? <a href="#" class="btn btn-primary btn-sm btn-inverse">Contact Us</a> for your privilege question.
								
								</div>
								
							</div>
						
						</div>

					</div>

				</div>
				
			</div>
			

		</div>
		<!-- end Main Wrapper -->