<!-- start Main Wrapper -->
		<div class="main-wrapper">

			<!-- start end Page title -->
			<div class="page-title static-header" style="background-image:url('images/hero-header/breadcrumb.jpg');">

				<div class="container">

					<div class="row">

						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

							<h1 class="hero-title">Términos y Codiciones</h1>

							<ol class="breadcrumb-list">
								<li><a href="/">Inicio</a></li>
								<li><span>Términos y Condiciones</span></li>
							</ol>

						</div>

					</div>

				</div>

			</div>
			<!-- end Page title -->

			<div class="content-wrapper">

				<div class="container">

					<div class="row">

						<div class="col-sm-4 col-md-3">

							<aside class="sidebar">

								<div class="sidebar-inner no-border for-static-page">

									<div class="sidebar-module">

										<h4 class="sidebar-title">Acceso rápido</h4>
										<ul class="static-page-menu">
											<li><a href="/nosotros">Acerca de Nosotros</a></li>
											<li><a href="/blog">Blog</a></li>
											<li class="active"><a href="/terminos">Términos y Condiciones</a></li>
										</ul>

									</div>

								</div>

							</aside>
						</div>

						<div class="col-sm-8 col-md-9">

							<div class="static-wrapper">

                <h1>TÉRMINOS Y CONDICIONES ESPECÍFICOS DE LA PLATAFORMA TRIPTABLE</H1>

                <h3>1. TÉRMINOS Y CONDICIONES ESPECÍFICOS Y SU ACEPTACIÓN.</h3>

Los presentes Términos y Condiciones Específicos (en adelante “Términos y Condiciones Especiales”) regulan el uso y los servicios prestados mediante el portal de Internet denominado TRIPTABLE.COM (en adelante, el “Portal”) que pone a disposición de sus Usuarios de Internet.

                <h3>2. SERVICIOS OFRECIDOS.</h3>

El servicio general ofrecido por TRIPTABLE.COM es el la difusión de destinos turísticos en su Portal, a fin de que sean accedidos por otros Usuarios y terceros, así como por otros medios de comunicación electrónicos o no, como por ejemplo: correos electrónicos, publicaciones turísticas electrónicas, impresas, catálogos virtuales o impresos, entre otros.

                <h3>3. REGISTRO DE USUARIOS</h3>

A fin de que un Usuario se registre en el Portal, éste deberá completar un formulario, así como los datos de inicio de sesión (“Datos de Inicio de Sesión”), los mismos que están compuestos de un único nombre de inicio de sesión (“Usuario” o “nombre de cuenta”), y una contraseña de seguridad (“contraseña”). Al completarse esta información, TRIPTABLE.COM enviará un mensaje automático al Usuario a fin de verificar la cuenta de correo electrónico proporcionada para el registro. Una vez verificada la cuenta de correo electrónico proporcionado, el Usuario será registrado en el Portal (Usuario Registrado).

De acuerdo a lo establecido en la Ley N° 51 del 18 de Septiembre del 2009, Ley de normas para la conservación, la protección y el suministro de datos de usuarios, le informamos que los datos personales que se obtengan como consecuencia de su registro como Usuario, serán adicionados a una base de datos titularidad de TRIPTABLE.COM.

El Usuario es el único responsable de su identidad y el resguardo de su contraseña. El Usuario es el responsable por completo y en última instancia de mantener la confidencialidad de sus datos de inicio de sesión y contraseña, así como del sistema de cómputo usado para acceder al Portal o a cualquiera de los Servicios. Además, el Usuario es el único encargado y responsable del uso de sus Datos de Inicio de Sesión, ya sean autorizados por el propio Usuario o no. Asimismo, el Usuario no deberá, directa o indirectamente, revelar su contraseña a nadie por ninguna razón, bajo ninguna circunstancia, ni permitir que alguien más acceda a su cuenta. Se prohíbe compartir, comercializar, intercambiar, vender, comprar o distribuir cuentas, Datos de Inicio de Sesión y/o contraseñas. De verificarse tal situación, los Usuarios responsables podrán ser suspendidos y/o dados de baja del Portal.

TRIPTABLE.COM no responde de la veracidad de las informaciones que no sean de elaboración propia y de las que se indique otra fuente, por lo que tampoco asume responsabilidad alguna en cuanto a hipotéticos perjuicios que pudieran originarse por el uso de dicha información.

Se exonera a TRIPTABLE.COM de responsabilidad ante cualquier daño o perjuicio que pudiera sufrir el Usuario como consecuencia de errores, defectos u omisiones, en la información facilitada por el Usuario.

TRIPTABLE.COM no es responsable por el uso inapropiado de la Identidad de Usuario o contraseña, ya sea por parte del propio Usuario o terceros. Si el Usuario descubre que la confidencialidad de su Usuario y/o contraseña puede estar en riesgo, deberá informar inmediatamente a TRIPTABLE.COM tan pronto como sea posible. De ser el caso, TRIPTABLE.COM podrá denunciar tales hechos ante las autoridades a fin de encontrar a los responsables de la violación del Usuario/contraseña informada.

TRIPTABLE.COM no permitirá el registro de ninguna identidad de Usuario y/o Nick ofensiva, obscena, inapropiada o que sea contrario a la moral y las buenas costumbres. Si algún Usuario y/o Nick infringe alguno de los presentes Términos y Condiciones Generales, TRIPTABLE.COM podrá suspender al Usuario, e incluso darlo de baja del Portal, con o sin notificación o previa advertencia.

El Usuario acepta, por el hecho de ingresar sus datos en el Portal y/o registrarse en el mismo, el derecho de TRIPTABLE.COM de comunicarse con él por todas las vías y medios posibles, incluidos los electrónicos, hasta tanto soliciten la cancelación de su cuenta en TRIPTABLE.COM o de los servicios solicitados, o hasta donde la legislación aplicable sobre la materia lo permita.

TRIPTABLE.COM no controla, monitorea o revisa la información suministrada por el Usuario Registrado durante el proceso técnico de registro en el Portal, por lo que presume de buena fe que toda la información proporcionada es correcta y adecuada a los Términos y Condiciones Generales y Específicos.

TRIPTABLE.COM se reserva el derecho (a su exclusivo criterio) dar de baja aquella información que no cumplan con los parámetros establecidos por TRIPTABLE.COM, resulte información presuntamente falsa o inexacta o que contradigan los Términos y Condiciones Generales y Específicos, o no reflejen el verdadero y exacto estado del Usuario Registrado; pudiendo incluso darlo de baja por tal motivo, sin previo aviso o notificación y sin ningún tipo de responsabilidad por ello.

Los Usuarios Registrados garantizan y responden, en cualquier caso, por la veracidad, exactitud, vigencia, legalidad y autenticidad de todos los datos e información personal ingresada.

                <h3>4. OTRAS PUBLICACIONES.</h3>

TRIPTABLE.COM podrá (pero no tiene la obligación de) publicar en cualquier otro portal o medio de comunicación, electrónico o no, y a su exclusivo criterio y decisión, algunos o todos los contenidos del Portal. El usuario autoriza expresamente por este medio a TRIPTABLE.COM a publicar sus comentarios u opiniones en portales propios o de propiedad o gestión de terceros, así como en medios que considere conveniente y en la forma y por el tiempo que estime pertinente. En caso este servicio tenga un costo, ello será debidamente informado al Usuario oferente a fin de que dé su expresa autorización a ello y se proceda con el mecanismo establecido a tal fin.

                <h3>5. PROPIEDAD INTELECTUAL</h3>

El Usuario oferente declara, garantiza y acepta que tiene derecho a subir / enviar la información para su publicación en el Portal, lo hace libremente, que dicha información no infringe ningún derecho de propiedad intelectual, de marca, de patente, secreto comercial, o cualquier otro derecho de tercero, que dicha información no tiene carácter confidencial y que dicha información no es perjudicial para terceros, ilegal o ilícita.

En caso de que el Usuario oferente elija publicar / enviar cualquier tipo de información para su publicación en el Portal, el Usuario oferente otorga a TRIPTABLE.COM una licencia revocable, no-exclusiva, gratuita, a nivel mundial y con carácter indefinido y hasta instrucción en contra por parte del propio Usuario oferente; de uso, reproducción, modificación, adaptación, publicación, transmisión, comunicación pública, traducción y explotación de dicha información, ya sea en el ámbito del Portal u otro medio de publicidad del mismo, así como en portales y otros medios de comunicación de propiedad o gestión de terceros, y en publicaciones impresas de cualquier tipo.

                <h3>6. LIMITACIONES DE USUARIOS</h3>

Sin perjuicio de otras medidas, TRIPTABLE.COM podrá suspender temporalmente o inhabilitar definitivamente a un Usuario Oferente o un aviso en alguno de los siguientes casos: (a) si tuviera conocimiento que el aviso quebranta alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas del Portal; (b) incumple sus compromisos como Usuario; (c) incurre en conductas o actos dolosos o fraudulentos; (d) proporcione información errónea; (e) incumple o viola cualquier cláusula de los presentes Términos y Condiciones específicos.

En el caso de la suspensión o inhabilitación de un Usuario o aviso, todo el contenido que tuviera anunciados será removido del Portal.

TRIPTABLE.COM se reserva el derecho, en cualquier momento y sin necesidad de notificación previa, de remover a un Usuario oferente del Portal, si la información proporcionada por éste no se correspondiere con los presentes Términos y Condiciones. Los Usuarios asumen total responsabilidad frente a TRIPTABLE.COM, otros Usuarios, Usuarios oferentes y terceros, por la información que proporcione.

                <h3>7. PROTECCIÓN DE DATOS PERSONALES.</h3>

Para utilizar los Servicios ofrecidos por TRIPTABLE.COM, los Usuarios oferentes deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Una vez registrados los datos del Usuario oferente, TRIPTABLE.COM no venderá, alquilará o compartirá la información personal, excepto en las formas establecidas en sus políticas, y siempre y cuando tenga autorización del titular de los datos personales para ello. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, TRIPTABLE.COM se vea obligado a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras partes puedan interceptar o acceder a cierta información o transmisiones de datos, en cuyo caso TRIPTABLE.COM no responderá por la información que sea revelada.

El Usuario oferente, por el simple hecho de registrarse y/o utilizar los servicios del Portal de TRIPTABLE.COM, acepta que éste le envíe toda clase de anuncios y publicidad (incluido, pero no limitado a correos electrónicos comerciales, folletos, cartas, etc.) a su dirección física y/o virtual declarada, con las novedades, ofertas y promociones de los servicios que brinda. Igualmente, siempre y cuando medie su aceptación previa en ese sentido, se le enviará anuncios y publicidad (incluido, pero no limitado a correos electrónicos comerciales, folletos, cartas, etc.) a su dirección física y/o virtual declarada, con las novedades, ofertas y promociones de los servicios brindados por terceros distintos a TRIPTABLE.COM.

En cualquier caso, si el Usuario oferente no desea seguir recibiendo tales comunicaciones, podrá revocar la autorización de recepción otorgada mediante la presente, para lo cual deberá comunicarse con TRIPTABLE.COM por medio del Portal, a fin de ser eliminado de su base de datos.

                <h3>8. GENERALIDADES</h3>

Los presentes Términos y Condiciones específicos se interpretarán de forma concordante con los Términos y Condiciones Generales del Portal, así como los términos o condiciones particulares de cada servicio. En todo lo no previsto en el presente texto, regirá supletoriamente lo dispuesto en los Términos y Condiciones Generales del Portal.

En caso de existir discrepancia entre lo establecido en los Términos y Condiciones Generales y los Términos y Condiciones específicos o condiciones particulares de cada servicio, prevalecerá lo dispuesto en éstas últimas.

En el caso de que cualquier disposición o disposiciones de estos Términos y condiciones específicos fuera(n) considerada(s) nula(s) o inaplicable(s), en su totalidad o en parte, por cualquier juzgado, tribunal u órgano administrativo competente, dicha nulidad o inaplicación no afectará a las otras disposiciones, ni los Términos y Condiciones Generales y/o particulares de los diferentes servicios específicos ofrecidos por TRIPTABLE.COM`.
<p>
  TRIPTABLE.com © 2014 -2016</p>

							</div>

						</div>

					</div>

				</div>

			</div>


		</div>
		<!-- end Main Wrapper -->