<style>
  .submit_search_cont{
    margin-top:25px;
  }
  .feature_home img{
    height: 100px;
    width: 100px;
  }
@media (max-width: 992px) {
  #search_container_2 {
    position: relative;
    height: 380px !important;
  }
} 

</style>


<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

<div id="search_container_2" class="mt-2">
<div id="search_2">
  <ul class="nav nav-tabs">
    <li><a href="#tours" data-toggle="tab" class="active show" id="tab_bt_1"><span>Tours</span></a></li>
    <!--  <li><a href="#hotels" data-toggle="tab" id="tab_bt_2"><span>Hotels</a></li>
      <li><a href="#restaurants" data-toggle="tab" id="tab_bt_3"><span>Restaurants</span></a></li> -->
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active show" id="tours">
      <form id="tour-search-form" action="/search">
        <div class="row no-gutters custom-search-input-2">
          <div class="col-lg-9">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="{{i18n "search_message"}}." id="autocomplete">
              <i class="icon_pin_alt"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <input type="submit" class="btn_search" value="{{i18n 'search'}}">
          </div>
        </div>
        <!-- /row -->
      </form id="tour-search-form">
    </div>
    <!-- End tab -->
    <div class="tab-pane fade" id="hotels">
      <form id="search-form">
        <div class="row no-gutters custom-search-input-2">
          <div class="col-lg-4">
            <div class="form-group">
              <input class="form-control" type="text" name="location" placeholder="Hotel Name, City...">
              <i class="icon_pin_alt"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <input class="form-control date-pick" type="text" name="date" placeholder="When..">
              <i class="icon_calendar"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel-dropdown">
              <a href="#">Guests <span class="qtyTotal hotels">1</span></a>
              <div class="panel-dropdown-content">
                <!-- Quantity Buttons -->
                <div class="qtyButtons hotels">
                  <label>Adults</label>
                  <input type="text" name="qtyInput_hotels" value="1">
                </div>
                <div class="qtyButtons hotels">
                  <label>Childrens</label>
                  <input type="text" name="qtyInput_hotels" value="0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <input type="submit" class="btn_search" value="Search">
          </div>
        </div>
        <!-- /row -->
      </form>
    </div>
    <!-- End tab -->
    <div class="tab-pane" id="restaurants">
      <form>
        <div class="row no-gutters custom-search-input-2">
          <div class="col-lg-4">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Restaurant Name, City...">
              <i class="icon_pin_alt"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <input class="form-control date-pick" type="text" name="dates" placeholder="When..">
              <i class="icon_calendar"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel-dropdown">
              <a href="#">Guests <span class="qtyTotal restaurants">1</span></a>
              <div class="panel-dropdown-content">
                <!-- Quantity Buttons -->
                <div class="qtyButtons restaurants">
                  <label>Adults</label>
                  <input type="text" name="qtyInput_restaurants" value="1">
                </div>
                <div class="qtyButtons restaurants">
                  <label>Childrens</label>
                  <input type="text" name="qtyInput_restaurants" value="0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <input type="submit" class="btn_search" value="Search">
          </div>
        </div>
        <!-- /row -->
      </form>
    </div>
    <!-- End tab -->
  </div>
</div>
<!-- End search_container_2 -->
</div>
 

<main>
    <div class="container margin_60">
    
      <div class="main_title">
        <h2>{{i18n 'how_it_works'}}</h2>
        <p>
          Ofrecemos el mayor inventario de tours, actividades y atracciones en Panamá
        </p>
      </div>
    
      <div class="row">
    
        <div class="col-6 col-lg-3">
          <div class="feature_home">
            <img src="/images/icons/search.svg" />
            <h3><span>Encuentra</span> Tours y Experiencias</h3>
            <p>
    
            </p>
          </div>
        </div>
    
        <div class="col-6 col-lg-3">
          <div class="feature_home">
            <img src="/images/icons/booking.svg" />
            <h3><span>Reserva y Paga</span> Sin Contacto</h3>
          </div>
        </div>
    
        <div class="col-6 col-lg-3">
          <div class="feature_home">
            <img src="/images/icons/eticket.svg" />
            <h3>Valida tu <span> E-ticket</span></h3>
          </div>
        </div>
    
        <div class="col-6 col-lg-3">
          <div class="feature_home">
            <img src="/images/icons/enjoy.svg" />
            <h3>Disfruta de tu <span>experiencia</span></h3>
          </div>
        </div>
    
      </div>
      <!--End row -->
      {{>v3/home/topTours}}
      {{>v3/home/topDestinations}}

  
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <img src="/images/icons/tourism.jpg" alt="Laptop" class="img-fluid laptop">
      </div>
      <div class="col-md-6">
        <h3><span>Registra tu Empresa de Turismo en </span> Triptable.com</h3>
        <p>
          Somos la plataforma de E-commerce turístico de mayor crecimiento en Panamá
        </p>
        <ul class="list_order">
          <li><span>1</span>Regístrate cómo proveedor</li>
          <li><span>2</span>Completa la documentación requerida</li>
          <li><span>3</span>Empieza a vender con Triptable.com</li>
        </ul>
        <a href="/partners" class="btn_1">Regístrate</a>
      </div>
    </div>
    <!-- End row -->
  
  </div>
  <!-- End container -->



<!-- end main -->  
</main> 



<script>
  window.addEventListener('load', (event) => {
    $('input.date-pick').datepicker('setDate', 'today');
    $('input.time-pick').timepicker({
      minuteStep: 15,
      showInpunts: false
    })

    $('input').iCheck({
      checkboxClass: 'icheckbox_square-grey',
      radioClass: 'iradio_square-grey'
    });
  });

</script>

<script>
  window.addEventListener('load', (event) => {
    var mySwiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 20,
       autoplay: {
        delay: 3000,
      },
      loop: true,
      
      // Responsive breakpoints
     
    });

      $("select.ddslick").each(function () {
        $(this).ddslick({
          showSelectedHTML: true,
          onSelected: function (data) {
            console.log(data.selectedData.value);
            $('#searchForm').attr("action", data.selectedData.value)
          }
        });
        
      });
    });
</script>

<!-- Check box and radio style iCheck -->
