<div id="listing_tags-4" class="widget  widget_listing_tags">
  <ul class="listing-tag-list">
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/accepts-credit-cards/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-card.svg" alt=""/></span> <span class="tag__text">Accepts Credit Cards</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/bike-parking/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-bike.svg" alt=""/></span> <span class="tag__text">Bike Parking</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/familykids-friendly/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-family.svg" alt=""/></span> <span class="tag__text">Family/Kids Friendly</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/parking-street/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-car-park.svg" alt=""/></span> <span class="tag__text">Parking Street</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/reservations/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-reservation.svg" alt=""/></span> <span class="tag__text">Reservations</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/smoking-allowed/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-smoking.svg" alt=""/></span> <span class="tag__text">Smoking Allowed</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/special/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/icon-design-studio.svg" alt=""/></span> <span class="tag__text">Special</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/wheelchair-accessible/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-wheel-chair.svg" alt=""/></span> <span class="tag__text">Wheelchair Accessible</span> </a>
      </li>
      <li>
          <a href="https://pixelgrade.com/demos/listable/listing-tag/wireless-internet/" class="listing-tag"> <span class="tag__icon"><img src="https://pixelgrade.com/demos/listable/wp-content/uploads/2015/10/tag-wifi.svg" alt=""/></span> <span class="tag__text">Wireless Internet</span> </a>
      </li>
  </ul>
</div>